.header {
  background: #000;
  padding: 30px 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 3fr;
      grid-template-columns: 1fr 2fr 2fr 3fr;
  color: #fff;
  font-weight: 100;
}

.header__burger {
  display: none;
  z-index: 5;
}

.header__element.logo img {
  width: 114.81px;
  height: 129.48px;
  display: block;
}

.header__element.location, .header__element.contacts, .header__element.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.header__element .location__city {
  font-weight: 400;
  font-size: 24px;
}

.header__element.location i {
  color: #E6AE2A;
  margin-right: 10px;
  font-size: 28px !important;
}

.header__element .contacts__phone span {
  font-weight: 400;
  font-size: 24px;
}

.header__element.contacts i {
  font-size: 28px !important;
  color: #E6AE2A;
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__element.search {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__element.search > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #fff;
  padding: 1px 10px;
  height: 22px;
}

.header__element.search .fa {
  color: #6D6C9F;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-size: 18px !important;
  margin-right: 3px;
  left: -5px;
}

.header__element .search__input {
  width: 100%;
  border: none;
}

@media screen and (max-width: 1024px) {
  .header {
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
  }
  .header__element.search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 5px 2.5%;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "logo element" "logo burger";
  }
  .header__element {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: element;
  }
  .header__element.logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__element.search, .header__element.location {
    display: none;
  }
  .header__element.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 18px !important;
  }
  .header__element.contacts .contacts__phone span {
    font-size: 20px !important;
  }
  .header__burger {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: burger;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger img {
    width: 50px;
    height: 30px;
  }
  .header__burger:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
  .header__element.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 14px !important;
  }
  .header__element.contacts .contacts__phone span {
    font-size: 16px !important;
  }
}

.nav {
  font-weight: 100;
}

.nav__list {
  padding: 15px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav__list .burger {
  margin-right: 10px;
}

.nav__list .burger:hover {
  cursor: pointer;
}

.nav__list .burger .fa {
  font-size: 50px !important;
  color: #fff;
}

.nav__list .list__element {
  margin: 0 1.5%;
  text-align: center;
}

.nav__list .list__element a {
  color: #fff;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 100;
  font-family: Geometria Extra Light;
}

.nav__list .list__element_active a {
  font-family: Geometria Light;
  font-weight: 600;
}

.nav__detailed-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: none;
  padding: 10px 5% 20px 5%;
  position: absolute;
  background: #fff;
  grid-gap: 0 10px;
}

.nav__detailed-block_active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  z-index: 5;
}

.nav__detailed-block .details__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-weight: 600;
}

.nav__detailed-block .details__header .fa {
  margin: 0 15px;
}

.nav__detailed-block .details__header:hover {
  background: #BFF6F6;
}

.nav__detailed-block .details__header:hover + .details__variants-list {
  visibility: visible;
}

.nav__detailed-block .details__variants-lists {
  display: -ms-grid;
  display: grid;
}

.nav__detailed-block .details__variants-list {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  visibility: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.nav__detailed-block .details__variants-list.variants-list_active {
  visibility: visible;
  padding-left: 30px;
}

.nav__detailed-block .details__variants-list .variants-list__element {
  font-size: 14px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-weight: 400;
  width: 20%;
}

.nav__detailed-block .details__variants-list .variants-list__element::before {
  content: "\25CF";
  width: 5px;
  height: 5px;
  padding-right: 10px;
}

.nav__detailed-block .details__variants-list .variants-list__element:hover {
  color: #D5960F;
}

.nav__detailed-block .details__variants-list .variants-list__element:hover > a {
  color: #D5960F;
}

.nav__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1024px) {
  .nav__list .list__element {
    margin: 0 5px;
  }
  .nav__list .list__element a {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .nav__list .list__element a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
  .nav__detailed-block {
    padding: 10px 0;
  }
  .nav__detailed-block_active {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    display: none;
  }
  .nav__detailed-block_active.nav__detailed-block_mobile {
    left: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    z-index: 5;
  }
  .nav__detailed-block_mobile {
    font-family: Geometria;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    transition: .5s;
    left: 100%;
    height: auto;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
    width: 90%;
    margin-left: 10%;
  }
  .nav__detailed-block_mobile .details__variants-list {
    margin-bottom: 10px;
    display: none !important;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 2.5%;
  }
  .nav__detailed-block_mobile .details__variants-list .variants-list__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    text-align: right;
    width: 100% !important;
    text-transform: initial;
    font-size: 16px !important;
    font-weight: 400;
    margin: 7px 0 !important;
  }
  .nav__detailed-block_mobile .details__variants-list .variants-list__element::before {
    content: "" !important;
  }
  .nav__detailed-block_mobile .details__variants-list .variants-list__element:hover {
    color: #000;
  }
  .nav__detailed-block_mobile .details__variants-list .variants-list__element:hover > a {
    color: #000;
  }
  .nav__detailed-block_mobile .details__variants-list.variants-list_active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav__detailed-block_mobile .details__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 2.5% !important;
    text-align: right !important;
    background: #fff !important;
    font-size: 18px !important;
    border-top: 1px solid #707070;
    font-weight: 400 !important;
    letter-spacing: -1px;
  }
  .nav__detailed-block_mobile .details__header:hover {
    cursor: pointer;
  }
  .nav__detailed-block_mobile .details__header_active {
    font-weight: 500 !important;
  }
  .nav__detailed-block_mobile .details__header_active .fa {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__detailed-block_mobile .details__header__link {
    display: block !important;
  }
  .nav__bg_active {
    z-index: 0;
    opacity: 1;
  }
}

footer {
  background: #000;
  font-weight: 600;
}

footer .footer {
  display: -ms-grid;
  display: grid;
  color: #fff;
  padding: 30px 0;
  grid-gap: 0 20px;
      grid-template-areas: "questions rights social contacts" "copyright copyright copyright contacts";
}

footer .footer__answers {
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: questions;
}

footer .footer__answers .answers__header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

footer .footer__answers .answers__link {
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid #E6B02B;
  line-height: 20px;
  font-size: 14px;
}

footer .footer__rights {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rights;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__rights .rights__element {
  text-align: center;
  padding: 10px 4px;
  border: 1px solid #E6B02B;
  color: #E6B02B;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

footer .footer__social {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__social .social__header h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

footer .footer__social .social__header p {
  font-size: 12px;
  text-transform: uppercase;
}

footer .footer__social .social__links {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer__social .social__links a {
  width: 100%;
  margin: 0 5px;
}

footer .footer__social .social__links a img {
  width: 100%;
}

footer .footer__copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: copyright;
  font-size: 10px;
  margin-top: 20px;
}

footer .footer__copyright p {
  margin-bottom: 10px;
  line-height: 16px;
}

footer .footer__copyright p span {
  color: #E6B02B;
}

footer .footer__contacts {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

footer .footer__contacts .contacts__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  border: 1px solid #E6B02B;
  margin-bottom: 20px;
}

footer .footer__contacts .contacts__element .element__phone {
  font-size: 22px;
  color: #E6B02B;
}

footer .footer__contacts .contacts__element .element__email, footer .footer__contacts .contacts__element .element__address {
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
        grid-template-areas: "questions rights social" "contacts contacts contacts" "copyright copyright copyright" !important;
    grid-gap: 10px !important;
  }
  .footer__contacts {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 3 !important;
    grid-column: 1/4 !important;
    -ms-grid-row: 2 !important;
    grid-row: 2 !important;
  }
  .footer__contacts .contacts__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__copyright {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .footer {
        grid-template-areas: "questions questions" "rights social" "contacts contacts" "copyright copyright" !important;
    grid-gap: 30px 5px !important;
  }
  .footer__answers {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer__answers > div {
    text-align: center;
  }
  .footer__contacts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3 !important;
    grid-row: 3 !important;
  }
  .footer__social .social__header h1 {
    font-size: 18px !important;
  }
  .footer__social .social__header p {
    font-size: 10px !important;
  }
  .footer__rights p {
    font-size: 10px !important;
  }
  .footer__copyright p {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=constant-blocks.css.map */