.contacts {
  font-family: Geometria Light;
}

.contacts__location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  grid-gap: 40px;
}

.contacts__location .location__map img {
  width: 100%;
}

.contacts__location .location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__location .location__info hr {
  margin: 20px 0;
}

.contacts__location .location__info .info__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.contacts__location .location__info .info__element img {
  width: 32px;
  display: block;
  text-align: center;
  margin-right: 15px;
}

.contacts__location .location__info .info__element img.marker-icon {
  width: 25px;
}

.contacts__location .location__info .info__element .element__text {
  font-size: 26px;
  line-height: 28px;
  width: 100%;
  margin-left: 5px;
  letter-spacing: 0.85px;
}

.text-block {
  margin: 30px 0;
  font-size: 22px;
}

.text-block ul {
  margin: 5px 0;
  font-size: 26px;
}

.text-block ul li {
  margin: 0 15px;
}

.text-block ul span,
.text-block ul p {
  font-size: 22px;
}

.delivery-block {
  margin: 30px 0;
}

.delivery-block table.table tr td:first-child,
.delivery-block table.table tr th:first-child {
  text-align: left;
  width: auto;
}

.delivery-block table.table tr th {
  font-size: 22px;
}

.delivery-block table.table tr td {
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  .contacts__location .location__info .info__element {
    margin: 10px 0;
  }
  .contacts__location .location__info .info__element img {
    width: 26px;
  }
  .contacts__location .location__info .info__element img.marker-icon {
    width: 22px;
  }
  .contacts__location .location__info .info__element .element__text {
    font-size: 22px;
    line-height: 24px;
  }
  .text-block p {
    font-size: 22px;
    line-height: 24px;
  }
  .text-block ul {
    font-size: 26px;
  }
  .text-block ul p, .text-block ul li span {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1366px) {
  .contacts__location .location__map img {
    width: 100%;
  }
  .contacts__location .location__info .info__element {
    margin: 10px 0;
  }
  .contacts__location .location__info .info__element img {
    width: 26px;
  }
  .contacts__location .location__info .info__element img.marker-icon {
    width: 22px;
  }
  .contacts__location .location__info .info__element .element__text {
    font-size: 20px;
    line-height: 22px;
  }
  .text-block p {
    font-size: 20px;
    line-height: 22px;
  }
  .text-block ul {
    font-size: 24px;
  }
  .text-block ul p, .text-block ul li span {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .contacts__location .location__info .info__element {
    margin: 5px 0;
  }
  .contacts__location .location__info .info__element img {
    width: 22px;
  }
  .contacts__location .location__info .info__element img.marker-icon {
    width: 16px;
  }
  .contacts__location .location__info .info__element .element__text {
    font-size: 18px;
    line-height: 20px;
  }
  .text-block p {
    font-size: 18px;
    line-height: 20px;
  }
  .text-block ul {
    font-size: 22px;
  }
  .text-block ul p, .text-block ul li span {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__location {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .contacts__location .location__info .info__element {
    margin: 10px 0;
  }
  .contacts__location .location__info .info__element img {
    width: 26px;
  }
  .contacts__location .location__info .info__element img.marker-icon {
    width: 20px;
  }
  .contacts__location .location__info .info__element .element__text {
    font-size: 16px;
    line-height: 18px;
  }
  .text-block p {
    font-size: 16px !important;
    line-height: 18px;
  }
  .text-block ul {
    font-size: 20px;
  }
  .text-block ul p, .text-block ul li span {
    font-size: 16px !important;
    line-height: 18px;
  }
}
/*# sourceMappingURL=contacts.css.map */