.image-example {
  position: relative;
}

.image-example img {
  width: 100%;
}

.image-example .marker__block {
  position: absolute;
}

.image-example .marker__block .block__marker:hover ~ .block__text {
  opacity: 1;
  z-index: 2;
}

.image-example .marker__block .block__text {
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -2;
  opacity: 0;
  padding: 5px 8px;
  background: #fff;
  font-size: 26px;
  position: absolute;
  white-space: nowrap;
  top: -30%;
  font-family: Geometria Light;
}

.image-example .marker__block .block__text_right {
  left: 60%;
}

.image-example .marker__block .block__text_right::after {
  content: "\25B6";
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  color: #fff;
  position: absolute;
  left: -12px;
  bottom: -12px;
  font-size: 30px;
}

.image-example .marker__block .block__text_left {
  right: 60%;
}

.image-example .marker__block .block__text_left::before {
  content: "\25B6";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  position: absolute;
  right: -12px;
  bottom: -12px;
  font-size: 30px;
}

.image-example_street .marker__block.block-1 {
  top: 52%;
  left: 5.5%;
}

.image-example_street .marker__block.block-2 {
  top: 26%;
  left: 24%;
}

.image-example_street .marker__block.block-3 {
  top: 33%;
  left: 28.5%;
}

.image-example_street .marker__block.block-4 {
  top: 19%;
  left: 37%;
}

.image-example_street .marker__block.block-5 {
  top: 46%;
  left: 36%;
}

.image-example_street .marker__block.block-6 {
  top: 20%;
  left: 47%;
}

.image-example_street .marker__block.block-7 {
  top: 39.5%;
  left: 51%;
}

.image-example_street .marker__block.block-8 {
  top: 3%;
  left: 67%;
}

.image-example_street .marker__block.block-9 {
  top: 18%;
  left: 72%;
}

.image-example_street .marker__block.block-10 {
  top: 25%;
  left: 74%;
}

.image-example_street .marker__block.block-11 {
  top: 36%;
  left: 73%;
}

.image-example_street .marker__block.block-12 {
  top: 15%;
  left: 83%;
}

.image-example_street .marker__block.block-13 {
  top: 30%;
  left: 90%;
}

.image-example_street .marker__block.block-13 {
  top: 30%;
  left: 90%;
}

.image-example_street .marker__block.block-14 {
  top: 17%;
  left: 15%;
}

.image-example_street .marker__block.block-15 {
  top: 40%;
  left: 95%;
}

.image-example_office .marker__block.block-1 {
  top: 17%;
  left: 5%;
}

.image-example_office .marker__block.block-2 {
  top: 4%;
  left: 26%;
}

.image-example_office .marker__block.block-3 {
  top: 23%;
  left: 36%;
}

.image-example_office .marker__block.block-4 {
  top: 45%;
  left: 40%;
}

.image-example_office .marker__block.block-5 {
  top: 22%;
  left: 61%;
}

.image-example_office .marker__block.block-6 {
  top: 10%;
  left: 75%;
}

.image-example_office .marker__block.block-7 {
  top: 25%;
  left: 90%;
}

.product-list-block {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 30px;
}

.product-list-block__header {
  font-size: 24px;
  text-align: center;
  margin: 20px 0 30px 0;
}

.product-list-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-list-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.product-list-block__list .list__element .element__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  text-align: center;
  margin: 20px auto;
  font-size: 23.25px;
  line-height: 27.9px;
  font-family: Geometria Light;
  white-space: nowrap;
}

.advantages-block {
  font-family: Geometria Medium;
}

.advantages-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block__list {
  padding: 30px 15%;
  background: url("../img/advantages-bg.png") no-repeat 100%;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.advantages-block__list .list__element .element__img {
  width: 89.5px;
}

.advantages-block__list .list__element .element__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 24.49px;
  line-height: 27.9px;
  margin-top: 10px;
  word-wrap: break-word;
  text-align: center;
  letter-spacing: 0.61px;
  color: #F6F7F7;
}

.theme-services-block {
  text-transform: uppercase;
}

.theme-services-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-services-block__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.theme-services-block__list .list__element {
  width: 300px;
  margin: 10px;
  min-height: 15px;
}

.theme-services-block__list .list__element .element__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 15px;
}

.theme-services-block__list .list__element .element__img p {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 19.5px;
  line-height: 20px;
  font-family: Geometria Medium;
  color: #F6F7F7;
  letter-spacing: -0.57px;
}

.theme-services-block__list .list__element .element__img img {
  display: block;
  padding-bottom: 10px;
}

.theme-services-block__list .list__element .element__info {
  background: #E0E1E2;
}

.theme-services-block__list .list__element .element__info .info__element {
  padding: 10px;
  background: #E0E1E2;
  border-top: 1px solid #000;
  font-size: 19.5px;
  letter-spacing: 0.2px;
  font-family: Geometria Light;
}

.theme-services-block__list .list__element .element__info .info__element:hover {
  font-family: Geometria Medium;
}

.theme-services-block__list .list__element .element__info .info__element::before {
  content: "\25CF";
  padding-right: 7px;
  color: #FFB100;
}

.theme-services-block__list .list__element .element__info .info__element.empty::before {
  content: "";
}

.work-examples-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-examples-block__img-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-examples-block__img-list .list__element img {
  width: 100%;
  height: 100%;
}

.work-examples-block__img-list .list__element-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 38;
  grid-column: 1 / 39;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.work-examples-block__img-list .list__element-2 {
  -ms-grid-column: 40;
  -ms-grid-column-span: 58;
  grid-column: 40 / 98;
}

.work-examples-block__img-list .list__element-3 {
  -ms-grid-column: 40;
  -ms-grid-column-span: 58;
  grid-column: 40 / 98;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.work-examples-block__img-list .list__element-4 {
  -ms-grid-column: 99;
  -ms-grid-column-span: 40;
  grid-column: 99 / 139;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.work-examples-block__img-list .list__element-5 {
  -ms-grid-column: 99;
  -ms-grid-column-span: 30;
  grid-column: 99 / 129;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.work-examples-block__img-list .list__element-6 {
  -ms-grid-column: 140;
  -ms-grid-column-span: 52;
  grid-column: 140 / 192;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.work-examples-block__img-list .list__element-7 {
  -ms-grid-column: 130;
  -ms-grid-column-span: 62;
  grid-column: 130 / 192;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.order-of-actions-block {
  font-family: Geometria Light;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-of-actions-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-of-actions-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.order-of-actions-block__list .list__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.order-of-actions-block__list .list__holder .arrow {
  margin-top: 75px;
  color: #D1D3D4;
  font-size: 22px;
}

.order-of-actions-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-of-actions-block__list .list__element .element__header {
  margin: 12px 0 7px 0;
  font-size: 19.96px;
  text-align: center;
  letter-spacing: 0.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.order-of-actions-block__list .list__element .element__header span:nth-child(2) {
  margin-left: 10px;
}

.order-of-actions-block__list .list__element .element__text {
  font-size: 15.76px;
  text-align: center;
  margin: 20px 0;
}

.order-of-actions-block__list .list__element img {
  width: 150px;
}

.make-order-block {
  background: #FFB100;
}

.make-order-block__header {
  padding-top: 25px;
}

.make-order-block__form {
  padding: 5px 0;
}

.make-order-block__form .form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8px 90px;
  margin: 5px 0;
}

.make-order-block__form .form__inputs input {
  font-family: Geometria Light;
  font-size: 25px;
  letter-spacing: 0.72px;
  padding: 13.5px 16px;
  border: none;
  line-height: 26px;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.make-order-block__form .form__textarea {
  font-family: Geometria Light;
  width: 100%;
  border: none;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  letter-spacing: 0.72px;
  padding: 14px;
  margin: 0;
  margin-top: 13px;
  min-height: 120px;
  font-family: inherit;
  font-weight: 400;
}

.make-order-block__form .form__btn {
  display: block;
  margin: 5px auto;
  background: #000;
  color: #fff;
  padding: 12px 50px;
  text-transform: lowercase;
  letter-spacing: 1.28px;
  font-size: 32.9px;
  font-family: Geometria Light;
}

@media screen and (max-width: 1600px) {
  .image-example .marker__block .block__marker {
    width: 80%;
  }
  .image-example .marker__block .block__text {
    font-size: 24px;
  }
  .image-example .marker__block .block__text_right {
    top: -25px;
  }
  .image-example .marker__block .block__text_right::after {
    bottom: -10px;
    font-size: 22px;
    left: -8px;
  }
  .image-example .marker__block .block__text_left {
    top: -25px;
  }
  .image-example .marker__block .block__text_left::after {
    bottom: -10px;
    font-size: 22px;
    left: -6px;
  }
  .theme-services-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .order-of-actions-block__list .list__holder .arrow {
    margin-top: 50px;
  }
  .order-of-actions-block__list .list__element img {
    width: 100px;
  }
}

@media screen and (max-width: 1366px) {
  .image-example .marker__block .block__marker {
    width: 60%;
  }
  .image-example .marker__block .block__text {
    font-size: 17px;
    top: -40%;
    padding: 2px 5px;
  }
  .image-example .marker__block .block__text_right {
    left: 20px;
  }
  .image-example .marker__block .block__text_right::after {
    bottom: -6px;
    left: -6px;
    font-size: 18px;
  }
  .image-example .marker__block .block__text_left {
    right: 40px;
  }
  .image-example .marker__block .block__text_left::before {
    right: -6px;
    bottom: -6px;
    font-size: 18px;
  }
  .product-list-block__list .list__element .element__text {
    font-size: 18px;
    line-height: 22px;
  }
  .advantages-block__list,
  .theme-services-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .advantages-block__list {
    padding: 30px 5%;
  }
  .order-of-actions-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .order-of-actions-block__list .arrow {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .order-of-actions-block__list .list__holder {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .order-of-actions-block__list .list__holder:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .order-of-actions-block__list .list__holder .element img {
    width: 120px;
  }
  .order-of-actions-block__list .list__holder .element__header {
    text-transform: uppercase;
    font-size: 16px !important;
  }
  .make-order-block__form .form__inputs input {
    font-size: 23px;
    padding: 11.5px 14px;
    line-height: 25px;
  }
  .make-order-block__form .form__textarea {
    font-size: 23px;
  }
  .make-order-block__form .form__btn {
    padding: 12px 50px;
  }
}

@media screen and (max-width: 1024px) {
  .image-example .marker__block .block__marker {
    width: 50%;
  }
  .image-example .marker__block .block__text {
    font-size: 15px;
    top: -30%;
    padding: 2px 5px;
  }
  .image-example .marker__block .block__text_right::after {
    font-size: 14px;
  }
  .image-example .marker__block .block__text_left::before {
    font-size: 14px;
  }
  .product-list-block__list .list__element {
    width: 30%;
    margin: 10px;
  }
  .product-list-block__list .list__element .element__text {
    font-size: 16px;
    line-height: 21px;
  }
  .advantages-block__list,
  .theme-services-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .advantages-block__list {
    padding: 30px 5%;
  }
  .order-of-actions-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .order-of-actions-block__list .arrow {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .order-of-actions-block__list .list__holder {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .order-of-actions-block__list .list__holder:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .order-of-actions-block__list .list__holder .element img {
    width: 120px;
  }
  .order-of-actions-block__list .list__holder .element__text {
    display: none;
  }
  .order-of-actions-block__list .list__holder .element__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    font-size: 16px !important;
  }
  .make-order-block__form .form__inputs input {
    font-size: 21px;
    padding: 11.5px 14px;
    line-height: 23px;
  }
  .make-order-block__form .form__textarea {
    font-size: 21px;
    padding: 14px;
  }
}

@media screen and (max-width: 768px) {
  .product-list-block__list .list__element {
    min-width: 130px;
  }
  .product-list-block__list .list__element:nth-child(n+9) {
    display: none;
  }
  .product-list-block__list .list__element .element__img {
    width: 135px;
  }
  .product-list-block__list .list__element .element__text {
    font-size: 16px;
    line-height: 21px;
  }
  .product-list-block .show-more-btn {
    padding: 0 !important;
  }
  .advantages-block__list .list__element .element__text {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.76px;
  }
  .theme-services-block__list .list__element .element__img p {
    font-size: 19.5px;
    line-height: 23.43px;
    color: #F6F7F7;
  }
  .theme-services-block__list .list__element .element__info .info__element {
    line-height: 23.43px;
    border-top: 1px solid #000;
    font-size: 19.53px;
    letter-spacing: 0.2px;
  }
  .order-of-actions-block__list .list__element .element__header {
    margin: 12px 0 7px 0;
    font-size: 19.96px;
    text-align: center;
    letter-spacing: 0.6px;
  }
  .order-of-actions-block__list .list__element .element__text {
    font-size: 15.76px;
    text-align: center;
    margin: 10px 0;
  }
  .order-of-actions-block__list .list__element img {
    width: 150px;
  }
  .make-order-block .section-header {
    margin-bottom: 10px !important;
  }
  .make-order-block__form {
    padding: 5px 0;
  }
  .make-order-block__form .form__inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 22px;
  }
  .make-order-block__form .form__inputs input {
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 30px;
  }
  .make-order-block__form .form__textarea {
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 30px;
    height: 175px;
    margin-top: 22px;
  }
  .make-order-block__form .form__btn {
    width: 100%;
    margin: 10px 0;
    letter-spacing: 0.6px;
    font-size: 20px;
    line-height: 38px;
  }
  .image-example {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .product-list-block__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-services-block__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 330px) {
  .product-list-block__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product-list-block__list .list__element {
    min-width: 120px;
    margin: 5px;
  }
  .product-list-block__list .list__element:nth-child(n+9) {
    display: none;
  }
  .product-list-block__list .list__element .element__img {
    width: 100px;
  }
}
/*# sourceMappingURL=index.css.map */