.image-example {
  position: relative;
}

.image-example img {
  width: 100%;
}

.image-example .marker__block {
  position: absolute;
}

.image-example .marker__block .block__marker:hover ~ .block__text {
  opacity: 1;
  z-index: 2;
}

.image-example .marker__block .block__text {
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -2;
  opacity: 0;
  padding: 5px;
  background: #fff;
  font-size: 16px;
  position: absolute;
  white-space: nowrap;
  top: -30%;
}

.image-example .marker__block .block__text_right {
  left: 60%;
}

.image-example .marker__block .block__text_right::after {
  content: "\25B6";
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  color: #fff;
  position: absolute;
  left: -6px;
  bottom: -6px;
}

.image-example .marker__block .block__text_left {
  right: 60%;
}

.image-example .marker__block .block__text_left::before {
  content: "\25B6";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  position: absolute;
  right: -6px;
  bottom: -6px;
}

.image-example_street .marker__block.block-1 {
  top: 57%;
  left: 8%;
}

.image-example_street .marker__block.block-2 {
  top: 35%;
  left: 24%;
}

.image-example_street .marker__block.block-3 {
  top: 43%;
  left: 28%;
}

.image-example_street .marker__block.block-4 {
  top: 28%;
  left: 37%;
}

.image-example_street .marker__block.block-5 {
  top: 53%;
  left: 36%;
}

.image-example_street .marker__block.block-6 {
  top: 31%;
  left: 45%;
}

.image-example_street .marker__block.block-7 {
  top: 47%;
  left: 51%;
}

.image-example_street .marker__block.block-8 {
  top: 14%;
  left: 67%;
}

.image-example_street .marker__block.block-9 {
  top: 25%;
  left: 72%;
}

.image-example_street .marker__block.block-10 {
  top: 32%;
  left: 74%;
}

.image-example_street .marker__block.block-11 {
  top: 43%;
  left: 73%;
}

.image-example_street .marker__block.block-12 {
  top: 22%;
  left: 83%;
}

.image-example_street .marker__block.block-13 {
  top: 37%;
  left: 90%;
}

.image-example_office .marker__block.block-1 {
  top: 17%;
  left: 5%;
}

.image-example_office .marker__block.block-2 {
  top: 4%;
  left: 26%;
}

.image-example_office .marker__block.block-3 {
  top: 23%;
  left: 36%;
}

.image-example_office .marker__block.block-4 {
  top: 45%;
  left: 40%;
}

.image-example_office .marker__block.block-5 {
  top: 22%;
  left: 61%;
}

.image-example_office .marker__block.block-6 {
  top: 10%;
  left: 75%;
}

.image-example_office .marker__block.block-7 {
  top: 25%;
  left: 90%;
}

.product-list-block {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 30px;
}

.product-list-block__header {
  font-size: 24px;
  text-align: center;
  margin: 20px 0 30px 0;
}

.product-list-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-list-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
  margin: 15px;
}

.product-list-block__list .list__element .element__text {
  text-align: center;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  line-height: 20px;
  white-space: pre-wrap;
  font-weight: 600;
}

.advantages-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block__list {
  padding: 30px 15%;
  background: url("../img/advantages-bg.png") no-repeat 100%;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.advantages-block__list .list__element .element__img {
  width: 89.5px;
}

.advantages-block__list .list__element .element__text {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  word-wrap: break-word;
  text-align: center;
}

.theme-services-block {
  text-transform: uppercase;
}

.theme-services-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-services-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.theme-services-block__list .list__element {
  height: 100%;
  margin: 0 10px;
}

.theme-services-block__list .list__element .element__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 15px;
}

.theme-services-block__list .list__element .element__img p {
  color: #fff;
  font-weight: 600;
  white-space: pre-wrap;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.theme-services-block__list .list__element .element__img img {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 10px;
}

.theme-services-block__list .list__element .element__info {
  background: #E0E1E2;
}

.theme-services-block__list .list__element .element__info .info__element {
  padding: 10px;
  background: #E0E1E2;
  border-top: 1px solid #000;
  font-size: 16px;
  font-family: Geometria;
  font-weight: 400;
}

.theme-services-block__list .list__element .element__info .info__element::before {
  content: "\25CF";
  padding-right: 7px;
  color: #FFB100;
}

.work-examples-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-examples-block__img-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-examples-block__img-list .list__element img {
  width: 100%;
  height: 100%;
}

.work-examples-block__img-list .list__element-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 38;
  grid-column: 1 / 39;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.work-examples-block__img-list .list__element-2 {
  -ms-grid-column: 40;
  -ms-grid-column-span: 58;
  grid-column: 40 / 98;
}

.work-examples-block__img-list .list__element-3 {
  -ms-grid-column: 40;
  -ms-grid-column-span: 58;
  grid-column: 40 / 98;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.work-examples-block__img-list .list__element-4 {
  -ms-grid-column: 99;
  -ms-grid-column-span: 40;
  grid-column: 99 / 139;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.work-examples-block__img-list .list__element-5 {
  -ms-grid-column: 99;
  -ms-grid-column-span: 30;
  grid-column: 99 / 129;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.work-examples-block__img-list .list__element-6 {
  -ms-grid-column: 140;
  -ms-grid-column-span: 52;
  grid-column: 140 / 192;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.work-examples-block__img-list .list__element-7 {
  -ms-grid-column: 130;
  -ms-grid-column-span: 62;
  grid-column: 130 / 192;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.order-of-actions-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-of-actions-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-of-actions-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.order-of-actions-block__list .list__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.order-of-actions-block__list .list__holder .arrow {
  margin: 0 30px;
  margin-top: 30%;
  color: #D1D3D4;
}

.order-of-actions-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
  font-weight: 600;
}

.order-of-actions-block__list .list__element .element__header {
  margin: 7px 0;
  font-size: 16px;
  text-align: center;
}

.order-of-actions-block__list .list__element .element__text {
  font-size: 14px;
  text-align: center;
  margin: 5px 0;
}

.order-of-actions-block__list .list__element img {
  width: 13vh;
}

.make-order-block {
  background: #FFB100;
}

.make-order-block__header {
  padding-top: 15px;
}

.make-order-block__form {
  padding: 5px 0;
}

.make-order-block__form .form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px 50px;
  margin: 5px 0;
}

.make-order-block__form .form__inputs input {
  font-size: 16px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  line-height: 26px;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.make-order-block__form .form__textarea {
  width: 100%;
  border: none;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  margin: 0;
  min-height: 120px;
  font-family: inherit;
  font-weight: 400;
}

.make-order-block__form .form__btn {
  display: block;
  margin: 5px auto;
  background: #000;
  color: #fff;
  padding: 12px 50px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .product-list-block__list .list__element {
    width: 30%;
    margin: 10px;
  }
  .advantages-block__list,
  .theme-services-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .advantages-block__list {
    padding: 30px 5%;
  }
  .order-of-actions-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .order-of-actions-block__list .arrow {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .order-of-actions-block__list .list__holder {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .order-of-actions-block__list .list__holder:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .order-of-actions-block__list .list__holder .element__text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .product-list-block__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-list-block__list .list__element {
    width: 40%;
  }
  .product-list-block__list .list__element:nth-child(n+9) {
    display: none;
  }
  .make-order-block__form {
    padding: 5px 0;
  }
  .make-order-block__form .form__inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .make-order-block__form .form__inputs input {
    width: 100%;
  }
  .make-order-block__form .form__btn {
    width: 100%;
  }
  .image-example {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .theme-services-block__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */