.popup {
  font-family: Geometria Light;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30vh;
  width: 55vw;
  z-index: 1;
  background: #fff;
  padding: 20px 20px 30px 20px;
}

.popup__header {
  margin-top: 0 !important;
}

.popup__form .form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.popup__form .form__inputs input {
  width: 100%;
  font-family: Geometria Light;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 13px 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  line-height: 26.4px;
}

.popup__form .form__inputs input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  vertical-align: middle;
}

.popup__form .form__inputs input::-moz-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  text-align: center;
  line-height: 25.56px;
  vertical-align: middle;
}

.popup__form .form__inputs input:-moz-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  vertical-align: middle;
}

.popup__form .form__inputs input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  vertical-align: middle;
}

.popup__form .form__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 5px;
  resize: none;
  width: 100%;
  min-height: 105px;
  font-family: inherit;
  font-family: Geometria Light;
  font-size: 17px;
  line-height: 20.4px;
}

.popup__form .form__textarea::-webkit-input-placeholder {
  text-align: center;
  font-size: 21.3px;
  line-height: 25.56px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 15px;
}

.popup__form .form__textarea:-ms-input-placeholder {
  text-align: center;
  font-size: 21.3px;
  line-height: 25.56px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 15px;
}

.popup__form .form__textarea::-ms-input-placeholder {
  text-align: center;
  font-size: 21.3px;
  line-height: 25.56px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 15px;
}

.popup__form .form__textarea::placeholder {
  text-align: center;
  font-size: 21.3px;
  line-height: 25.56px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 15px;
}

.popup__form .form__textarea::-webkit-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  padding-top: 15px;
}

.popup__form .form__textarea::-moz-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  padding-top: 15px;
}

.popup__form .form__textarea:-moz-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  padding-top: 15px;
}

.popup__form .form__textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 21.3px;
  line-height: 25.56px;
  text-align: center;
  padding-top: 15px;
}

.popup__form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__form .form__buttons .order-btn {
  font-size: 29px;
  line-height: 34px;
  letter-spacing: 1.28px;
  padding: 2px 10px;
}

.popup__form .form__buttons .buttons__attach-wrapper {
  padding: 15px 0 0 0 !important;
  width: 100%;
}

.popup__form .form__buttons .buttons__attach-wrapper input[type=file] {
  display: none;
}

.popup__form .form__buttons .buttons__attach-btn {
  background: #82D2D0;
  padding: 5px 5px;
  display: block;
  text-transform: uppercase;
  font-size: 15.82px;
  line-height: 18.98px;
  text-align: center;
}

.popup__form .form__buttons .buttons__file-checkbox {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__form .form__buttons .buttons__file-checkbox input {
  display: none;
}

.popup__form .form__buttons .buttons__file-checkbox input:checked + .chbx {
  background: #000;
}

.popup__form .form__buttons .buttons__file-checkbox .chbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.popup__form .form__buttons .order-btn {
  padding: 10px;
}

.popup__close {
  position: absolute;
  top: -12px;
  right: -12px;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .popup__form .form__inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .popup__form .form__inputs input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 95vw;
    height: 95vh;
    margin: 20px auto;
    z-index: 1;
    background: #fff;
    padding: 20px 10px;
  }
  .popup h1 {
    text-align: left;
  }
  .popup__close {
    top: 12px;
    right: 12px;
  }
  .popup__form .form__inputs input {
    width: 100%;
    font-family: Geometria Light;
    padding: 10px 5px;
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__inputs input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__inputs input::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__inputs input:-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__inputs input:-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__textarea {
    height: 15vh;
    font-size: 20px;
    line-height: 30px;
  }
  .popup__form .form__textarea::-webkit-input-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea:-ms-input-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea::-ms-input-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea::placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea::-webkit-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea::-moz-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea:-moz-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__textarea:-ms-input-placeholder {
    padding-top: 4vh;
  }
  .popup__form .form__buttons {
    width: 100%;
  }
  .popup__form .form__buttons > div,
  .popup__form .form__buttons > button {
    margin: 15px 0;
  }
  .popup__form .form__buttons .order-btn {
    font-size: 22px !important;
    line-height: 26px;
    letter-spacing: 0.66px;
  }
  .popup__form .form__buttons .buttons__file-checkbox {
    font-size: 13px;
    line-height: 19.2px;
    margin: 10px 0;
  }
  .popup__form .form__buttons .buttons__attach-btn {
    letter-spacing: -0.66px !important;
    font-size: 16px !important;
    line-height: 19px !important;
    padding: 10px;
  }
}
/*# sourceMappingURL=popup.css.map */