.portfolio {
  font-family: Geometria Light;
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 35px;
}

.portfolio__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E0E3E3;
}

.portfolio__list .list__element:nth-child(3n+2) .element__details-btn {
  background: #42D1CF;
}

.portfolio__list .list__element .element__img {
  width: 100%;
  display: block;
}

.portfolio__list .list__element .element__title {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 19.82px !important;
  font-family: Geometria Medium;
  letter-spacing: 0.77px;
  line-height: 23.79px !important;
}

.portfolio__list .list__element .element__details-btn {
  margin: 10px;
  background: #FFB800;
  padding: 10px;
  font-size: 22.28px !important;
  line-height: 26.74px !important;
}

.portfolio__list .list__element .element__details-btn img {
  margin-left: 10px;
}

.portfolio-subsection-block {
  padding-bottom: 30px;
}

.portfolio-subsection-block .show-more-btn {
  display: block;
  margin: 40px auto;
  font-size: 31.73px;
  line-height: 38.08px;
  letter-spacing: 0.95px;
}

.portfolio-subsection-block .show-more-btn img {
  width: 14.11px;
  height: 15.54px;
}

.portfolio-subsection-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 35px;
}

.portfolio-subsection-block__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E0E3E3;
}

.portfolio-subsection-block__list .list__element .element__img {
  width: 100%;
  display: block;
}

.portfolio-subsection-block__list .list__element .element__title {
  margin: 0 15px;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 17px !important;
  font-family: Geometria Medium;
  letter-spacing: 0.66px;
  line-height: 20.4px !important;
}

.portfolio-subsection-block__list .list__element .element__text {
  margin: 0 15px;
  margin-bottom: 10px;
  font-size: 16px !important;
  font-family: Geometria Light;
  letter-spacing: 0.62px;
  line-height: 20.4px !important;
}

@media screen and (max-width: 1024px) {
  .portfolio__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .portfolio-subsection-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio__list .btn {
    font-size: 16px !important;
    width: 90%;
  }
  .portfolio__list .list__element .element__title {
    margin: 20px 0;
    font-size: 18px !important;
    font-family: Geometria Medium;
    letter-spacing: 0.7px !important;
    line-height: 19px !important;
  }
  .portfolio__list .list__element .element__details-btn {
    margin: 10px;
    background: #FFB800;
    padding: 5px !important;
    font-size: 20px !important;
    line-height: 38px !important;
    letter-spacing: 0.6px !important;
  }
  .portfolio-subsection-block {
    padding-bottom: 0;
  }
  .portfolio-subsection-block__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio-subsection-block .show-more-btn {
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.6px;
  }
}
/*# sourceMappingURL=portfolio.css.map */