.product {
  font-family: Geometria Light;
  font-weight: 400;
  margin: 30px 0;
}

.product__content {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

.product__content .content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.product__content .content__img img {
  width: 100%;
}

.product__content .content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content .content__description .description__text {
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
}

.product__content .content__description .description__text ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 20px;
}

.product__content .content__description .description__text ul li {
  line-height: 36px;
}

.product__content .content__description .description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__content .content__description .description__buttons .btn {
  font-weight: 500;
  font-size: 20px !important;
  margin: 10px;
  letter-spacing: 2px;
}

.product__content .content__description .description__buttons .btn img {
  width: 32px;
}

.product-example-block-big {
  font-family: Geometria Light;
  font-weight: 600;
}

.product-example-block-big__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
}

.product-example-block-big__content .content__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-example-block-big__content .content__view .view__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product-example-block-big__content .content__view .view__buttons .btn {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 18px !important;
}

.product-example-block-big__content .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-example-block-big__content .content__info .info__characteristics ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 20px;
}

.product-example-block-big__content .content__info .info__characteristics ul li {
  line-height: 36px;
}

.product-example-block-big__content .content__info .info__text-block {
  margin: 0 !important;
  line-height: 20px;
}

.also-interesting-block {
  font-family: Geometria Light;
  font-weight: 600;
  margin: 30px 0;
}

.also-interesting-block__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 20px;
}

.also-interesting-block__links a {
  text-align: center;
  color: #0082FB;
  font-size: inherit;
  line-height: 26px;
  font-size: 18px;
}

.works-example-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-example-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-example-block__list {
  margin: 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.works-example-block__list img {
  width: 100%;
}

.works-example-block .show-more-btn {
  margin: 10px auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px !important;
  letter-spacing: 2px;
}

.popular-orders-block {
  font-family: Geometria;
  font-weight: 400;
  margin: 30px 0 50px 0;
}

.popular-orders-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
}

.popular-orders-block__list .list__element .element__img img {
  width: 100%;
}

.popular-orders-block__list .list__element .element__title {
  margin: 10px 0 20px 0;
  font-size: 13px;
}

.popular-orders-block__list .list__element .element__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-orders-block__list .list__element .element__price button {
  font-size: 16px !important;
  padding: 5px 10px;
}

.product-example-block-small {
  font-family: Geometria Light;
  font-weight: 600;
  margin: 30px 0;
}

.product-example-block-small > .details-btn {
  margin: 20px auto;
  padding: 10px;
  background: #ffb700;
}

.product-example-block-small > .show-more-btn {
  display: block;
  margin: 10px auto;
}

.product-example-block-small__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 20px;
}

.product-example-block-small__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E0E3E3;
  padding-bottom: 10px;
}

.product-example-block-small__list .list__element .element__img {
  width: 100%;
}

.product-example-block-small__list .list__element .element__title {
  margin: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}

.product-example-block-small__list .list__element .element__text {
  margin: 10px;
  font-size: 14px;
  line-height: 18px;
}

.product-example-block-small__list .list__element .element__actions {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-example-block-small__list .list__element .element__actions .btn {
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
}

.product-example-block-small__list.grid-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(19%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
  grid-gap: 10px;
}

.product-example-block-small__list.grid-5 .list__element {
  font-size: 12px;
  margin: 5px;
  width: auto;
}

.product-example-block-small__list.grid-5 .list__element .element__title {
  font-size: 12px;
}

.product-example-block-small__list.grid-5 .list__element .element__text {
  font-size: 12px;
}

section .fa-angle-right {
  font-size: 60px !important;
  color: #9C9B9B;
}

section .fa-angle-right:first-child {
  margin-right: 15px;
}

section .fa-angle-right:last-child {
  margin-left: 15px;
}

@media screen and (max-width: 1600px) {
  .product-example-block-small__list .list__element {
    margin: 0 !important;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(24%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
}

@media screen and (max-width: 1200px) {
  .product-example-block-big__content {
    display: block;
  }
  .product-example-block-big__content .content__view .view__buttons {
    width: 100%;
  }
  .product-example-block-big__content .content__view .view__buttons .btn {
    width: 100%;
  }
  .product-example-block-big__content .content__info {
    margin: 20px 0;
  }
  .product-example-block-small__list .list__element {
    margin: 0 !important;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(24%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .product__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product__content .content__img img {
    width: 70%;
  }
  .works-example-block .fa-angle-right {
    display: none;
  }
  .works-example-block__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .works-example-block__list img:nth-child(n+4) {
    display: none;
  }
  .popular-orders-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .popular-orders-block__list .list__element:nth-child(n+5) {
    display: none;
  }
  .popular-orders-block__list .list__element .element__title {
    margin-bottom: 10px;
  }
  .popular-orders-block__list .list__element .element__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .popular-orders-block__list .list__element .element__price p {
    margin: 10px 0;
  }
  .popular-orders-block__list .list__element .element__price .order-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .product-example-block-small__list .list {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .product__content .content__img img {
    width: 100%;
  }
  .product__content .content__description .description__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__content .content__description .description__buttons .btn {
    margin: 10px 0;
  }
  .works-example-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .works-example-block__list img:nth-child(n+3) {
    display: none;
  }
  .also-interesting-block__links {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .also-interesting-block__links a {
    text-align: left;
  }
  .product-example-block-small__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product-example-block-small__list .list__element .element__actions .btn {
    font-size: 14px !important;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=product.css.map */