.product {
  font-family: Geometria Light;
  margin: 30px auto;
}

.product__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 2fr);
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-gap: 80px;
}

.product__content .content__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.product__content .content__img {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.product__content .content__img img {
  margin: 0 5px;
}

.product__content .content__img .slider-prev {
  top: 45%;
}

.product__content .content__img .slider-next {
  top: 45%;
}

.product__content .content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content .content__description .description__text {
  font-size: 28.04px;
  line-height: 33.65px;
}

.product__content .content__description .description__text ul {
  list-style-type: circle;
  list-style-position: inside;
}

.product__content .content__description .description__text ul li span {
  margin-left: -10px;
}

.product__content .content__description .description.small-font .description__text {
  font-size: 24.6px;
  line-height: 29px;
}

.product__content .content__description .description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.product__content .content__description .description__buttons .btn {
  height: 100%;
  padding: 7px 20px;
  height: 67px;
}

.product__content .content__description .description__buttons .btn.calc-btn {
  font-size: 33.71px;
  line-height: 40.45px;
  margin-right: 40px;
}

.product__content .content__description .description__buttons .btn.order-btn {
  font-size: 33.68px;
  line-height: 40.42px;
}

.product__content .content__description .description__buttons .btn img {
  width: 50px;
  margin: 0 5px;
}

.product-example-block-big {
  font-family: Geometria Light;
}

.product-example-block-big__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 60px;
}

.product-example-block-big__content .content__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-example-block-big__content .content__view .view__buttons {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.product-example-block-big__content .content__view .view__buttons .btn {
  padding: 5px 10px;
  font-size: 20.26px;
  line-height: 24.31px;
}

.product-example-block-big__content .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-example-block-big__content .content__info .info__characteristics {
  font-size: 23.61px;
  line-height: 28.33px;
  color: #1D1C1B;
}

.product-example-block-big__content .content__info .info__characteristics ul {
  list-style-type: circle;
  list-style-position: inside;
}

.product-example-block-big__content .content__info .info__characteristics ul li span {
  margin-left: -10px;
}

.product-example-block-big__content .content__info .table-block .table tr th {
  padding: 4px 20px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.72px;
  width: 100%;
}

.product-example-block-big__content .content__info .table-block .table tr td {
  padding: 9px 20px;
  text-align: left;
  font-size: 16.89px;
  line-height: 20.27px;
  letter-spacing: 0.49px;
}

.product-example-block-big__content .content__info .table-block .table tr td:not(:first-child) {
  text-align: center;
}

.product-example-block-big__content .content__info .table-block.table-block_big tr th {
  padding: 7px 10px;
  text-align: center;
  font-size: 19px;
  line-height: 22.8px;
  letter-spacing: 0.55px;
}

.product-example-block-big__content .content__info .table-block.table-block_big tr td {
  padding: 8px 10px;
  font-size: 16.89px;
  line-height: 20.27px;
  letter-spacing: 0.51px;
  text-align: center;
}

.also-interesting-block {
  font-family: Geometria Light;
  margin: 30px auto;
}

.also-interesting-block__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}

.also-interesting-block__links a {
  text-align: left;
  color: #0082FB;
  line-height: 30px;
  font-size: 25px;
  font-family: ArialMT;
  letter-spacing: 0.72px;
}

.works-example-block {
  font-family: Geometria Light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-example-block .list-holder {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-example-block__list {
  margin: 0 auto;
  width: 95%;
}

.works-example-block__list img {
  width: 100%;
  margin: 0 5px;
}

.works-example-block .show-more-btn {
  margin: 25px auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-orders-block {
  font-family: Geometria Light;
  margin: 30px auto 50px auto;
}

.popular-orders-block.section-header {
  font-size: 30.89px;
  line-height: 37.07px;
  letter-spacing: 1.2px;
}

.popular-orders-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  margin: 0 auto;
}

.popular-orders-block__list .list__element .element__img img {
  width: 100%;
}

.popular-orders-block__list .list__element .element__title {
  margin: 10px 0 3px 0;
  font-size: 15.11px;
  line-height: 18.14px;
  font-family: Geometria Bold;
}

.popular-orders-block__list .list__element .element__text {
  font-size: 15.11px;
  line-height: 18.14px;
  font-family: Geometria Light;
}

.popular-orders-block__list .list__element .element__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Geometria Bold;
  margin-top: 10px;
  font-size: 15.11px;
  line-height: 18.14px;
}

.popular-orders-block__list .list__element .element__price button {
  font-size: 14.79px !important;
  line-height: 17.75px;
  padding: 5px 10px;
  font-family: Geometria Light;
}

.product-example-block-small {
  font-family: Geometria Light;
  margin: 30px auto;
}

.product-example-block-small > .details-btn {
  margin: 20px auto;
  padding: 10px;
  background: #ffb700;
}

.product-example-block-small > .show-more-btn {
  display: block;
  margin: 40px auto 55px auto;
}

.product-example-block-small__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 50px;
}

.product-example-block-small__list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E0E3E3;
}

.product-example-block-small__list .list__element .element__img {
  width: 100%;
}

.product-example-block-small__list .list__element .element__title {
  margin: 10px 15px 20px 15px;
  text-align: left;
  text-transform: uppercase;
  font-size: 19.82px;
  line-height: 23.79px;
  letter-spacing: 0.69px;
  font-family: Geometria Medium;
}

.product-example-block-small__list .list__element .element__text {
  margin: 0 15px;
  font-size: 15px;
  line-height: 18px;
}

.product-example-block-small__list .list__element .element__actions {
  margin: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.product-example-block-small__list .list__element .element__actions .btn {
  padding: 10px 15px;
  width: 100%;
  font-size: 22.28px;
  line-height: 26.74px;
  letter-spacing: 0.67px;
  padding: 10px 5px;
}

.product-example-block-small__list.grid-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(19%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
  grid-gap: 10px;
}

.product-example-block-small__list.grid-5 .list__element {
  font-size: 12px;
  margin: 5px;
  width: auto;
}

.product-example-block-small__list.grid-5 .list__element .element__title {
  font-size: 12.27px;
  line-height: 14.73px;
  margin: 10px 7px;
}

.product-example-block-small__list.grid-5 .list__element .element__actions {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 7px;
  margin-right: 7px;
}

.product-example-block-small__list.grid-5 .list__element .element__actions .btn {
  font-size: 13.8px;
  line-height: 16.56px;
  padding: 5px 7px;
}

.product-example-block-small__list.grid-5 .list__element .element__actions .btn img {
  width: 6.1px;
  margin-left: 5px;
}

.product-pricing-block {
  margin-bottom: 40px;
}

.product-pricing-block .table tr th {
  font-size: 30px;
  line-height: 36px;
}

.product-pricing-block .table tr td {
  font-size: 26px;
  line-height: 31.2px;
  width: 60%;
}

.product-pricing-block .table tr td:not(:first-child) {
  width: auto;
  font-size: 24px;
  line-height: 28.8px;
}

.product-text-block {
  font-size: 28.04px;
  line-height: 33.65px;
}

.product-text-block .section-header {
  text-align: left;
  letter-spacing: 1.17px;
}

@media screen and (max-width: 1600px) {
  .product-example-block-small__list .list__element {
    margin: 0 !important;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(24%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
  .popular-orders-block__list {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .product__content {
    -ms-grid-columns: minmax(0, 2fr) minmax(0, 3fr);
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
  }
  .product__content .content__img img {
    width: 100%;
  }
  .product__content .content__description .description__text {
    font-size: 22px;
    line-height: 26.6px;
  }
  .product__content .content__description .description__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__content .content__description .description__buttons .btn {
    margin: 0;
    padding: 5px 10px;
    height: 47px;
  }
  .product__content .content__description .description__buttons .btn img {
    width: 35px;
  }
  .product__content .content__description .description__buttons .btn.order-btn {
    font-size: 22px;
    line-height: 26px;
  }
  .product__content .content__description .description__buttons .btn.calc-btn {
    margin: 0 0 20px 0;
    font-size: 21px;
    line-height: 25px;
  }
  .product-example-block-small__list {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 20px;
  }
  .product-example-block-small__list .list__element .element__title {
    font-size: 17px;
    line-height: 21px;
  }
  .product-example-block-small__list .list__element .element__actions {
    margin: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .product-example-block-small__list .list__element .element__actions .btn {
    padding: 8px 12px;
    font-size: 17px;
    line-height: 21px;
  }
  .product-text-block {
    font-size: 22px;
    line-height: 26.6px;
  }
}

@media screen and (max-width: 1200px) {
  .product-example-block-big__content {
    display: block;
  }
  .product-example-block-big__content .content__view .view__buttons {
    width: 100%;
  }
  .product-example-block-big__content .content__view .view__buttons .btn {
    width: 100%;
  }
  .product-example-block-big__content .content__info {
    margin: 20px 0;
  }
  .product-example-block-small__list .list__element {
    margin: 0 !important;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(24%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
  .popular-orders-block__list {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .product__content {
    -ms-grid-columns: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
    grid-gap: 40px;
  }
  .product__content .content__img img {
    width: 70%;
  }
  .works-example-block .fa-angle-right {
    display: none;
  }
  .popular-orders-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .popular-orders-block__list .list__element:nth-child(n+5) {
    display: none;
  }
  .popular-orders-block__list .list__element .element__title {
    margin-bottom: 10px;
  }
  .popular-orders-block__list .list__element .element__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .popular-orders-block__list .list__element .element__price p {
    margin: 10px 0;
  }
  .popular-orders-block__list .list__element .element__price .order-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .product-example-block-small__list .list {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .also-interesting-block__links a {
    line-height: 25px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .product {
    padding-bottom: 30px;
  }
  .product__content .content__img {
    width: 80%;
  }
  .product__content .content__img img {
    width: 80%;
  }
  .product__content .content__description .description__text {
    font-size: 19px;
    letter-spacing: 0.55px;
    line-height: 24.6px;
  }
  .product__content .content__description .description__buttons .btn {
    margin: 0;
    padding: 5px 10px;
    font-size: 22px;
    line-height: 26px;
  }
  .product__content .content__description .description__buttons .btn img {
    width: 35px;
  }
  .works-example-block .fa-angle-right {
    display: none;
  }
  .works-example-block .list-holder {
    width: 100%;
  }
  .also-interesting-block__links {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .also-interesting-block__links a {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.46px;
  }
  .product-example-block-small__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .product-example-block-small__list.grid-5 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product-example-block-small__list .list__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #E0E3E3;
  }
  .product-example-block-small__list .list__element .element__img {
    width: 100%;
  }
  .product-example-block-small__list .list__element .element__title {
    margin: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.62px;
    margin: 15px 5px;
  }
  .product-example-block-small__list .list__element .element__actions {
    grid-gap: 10px;
    margin: 0 5px 10px 5px;
  }
  .product-example-block-small__list .list__element .element__actions .btn {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.54px;
  }
  .product-example-block-big__content .content__view .view__buttons {
    margin-top: 20px;
    grid-gap: 20px;
  }
  .product-example-block-big__content .content__view .view__buttons .btn {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .product-example-block-big__content .content__view .view__img {
    width: 100%;
  }
  .product-example-block-big__content .content__info .info__characteristics {
    font-size: 19px;
    line-height: 24.6px;
    color: #000;
    letter-spacing: 0.55px;
  }
  .product-example-block-big__content .content__info .table-block .table {
    border-spacing: 5px 0;
  }
  .product-example-block-big__content .content__info .table-block .table tr th {
    font-family: Geometria Medium;
    padding: 17px 10px;
    font-size: 17px;
    line-height: 13px;
    text-transform: uppercase;
    width: auto;
  }
  .product-example-block-big__content .content__info .table-block .table tr th:not(:first-child) {
    letter-spacing: 0.18px;
    font-size: 18px;
  }
  .product-example-block-big__content .content__info .table-block .table tr td {
    white-space: nowrap;
    padding: 5px 10px;
    text-align: left;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
  }
  .product-example-block-big__content .content__info .table-block .table tr td:not(:first-child) {
    text-align: center;
    letter-spacing: 0.46px;
    font-size: 16px;
    font-family: Geometria;
  }
  .product-pricing-block {
    margin-bottom: 40px;
  }
  .product-pricing-block .table tr th {
    font-size: 17px;
    line-height: 13px;
    text-transform: uppercase;
    font-family: Geometria Medium;
    text-align: left;
  }
  .product-pricing-block .table tr th:not(:first-child) {
    text-align: right;
    width: auto;
  }
  .product-pricing-block .table tr td {
    font-size: 18px;
    line-height: 20px;
  }
  .product-pricing-block .table tr td:not(:first-child) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.46px;
    font-family: Geometria;
    text-align: right;
  }
  .popular-orders-block__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .popular-orders-block__list .list__element .element__title {
    margin: 5px 0;
    font-size: 12px;
    line-height: 12px;
  }
  .popular-orders-block__list .list__element .element__text {
    font-size: 12px;
    line-height: 12px;
    font-family: Geometria Light;
  }
  .popular-orders-block__list .list__element .element__price {
    font-size: 16px;
    line-height: 12px;
  }
  .popular-orders-block__list .list__element .element__price button {
    font-size: 18px !important;
    line-height: 22px;
    padding: 5px 7px !important;
  }
  .product-text-block {
    font-size: 19px;
    letter-spacing: 0.55px;
    line-height: 24.6px;
  }
  .product-text-block .section-header {
    text-align: center;
  }
  .table-block.table-block_big tr th {
    padding: 9px 10px !important;
    text-align: center !important;
    font-size: 17px !important;
    line-height: 19px !important;
    letter-spacing: 0px !important;
  }
  .table-block.table-block_big tr td {
    padding: 8px 10px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: 0.51px !important;
    text-align: center !important;
    font-family: Geometria Light !important;
  }
  .table-block.table-block_big tr td:nth-child(n+2) {
    font-size: 19px !important;
    line-height: 23px !important;
  }
  .table-block.table-block_big tr:nth-child(2) td:first-child {
    font-size: 19px;
    line-height: 22.8px;
    letter-spacing: 0.55px;
  }
}
/*# sourceMappingURL=product.css.map */