table.table {
	width: 100%;
	font-family: Geometria Light;
	border-spacing: 10px 0;
	border-collapse: separate;

	& tr:nth-child(odd) td,
	& tr:nth-child(odd) th {
		background: #C5FCFC;
	}


	& tr td,
	& tr th {
		min-height: 16px;
		vertical-align: middle;
		text-align: center;
		padding: 9.5px 20px;
		font-size: 18px;

		&:first-child {
			text-align: left;
		}
		& p {
			margin-bottom: 10px;
			&:last-child {
				margin: 0;
			}
		}
	}
	& tr th {
		white-space: nowrap;
		text-transform: lowercase;
		letter-spacing: 0.3px;
		min-height: 20px;

		text-align: center;
	}
	
}
.table-block_big {
	padding-bottom: 30px;
	& table {
		& tr th, & tr td {
			white-space: nowrap;
			font-size: 16px;
		}
	}
}