h1.section-header {
	padding-bottom: 40px;
	padding-top: 30px;
}

.customise-product {
	h2.section-header {
		margin: 35px 0 15px 0;
	}

	.form-container {
		width: 70%;
		margin: 0 auto;
	}

	&__form .form {
		&__img-selectors-block .img-selectors-block {
			&__selectors {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				& .selectors__selector {
					width: 15%;
					margin: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;

					& input[type=radio] {
						display: none;

						&:checked~label .selector__title {
							text-decoration: underline;
							font-family: Geometria Medium;
							color: #ECB62B;
							letter-spacing: 0.67px;
						}
					}

					& label {
						display: flex;
   						flex-direction: column;
    					align-items: center;
						&:hover {
							cursor: pointer;
						}
					}

					& .selector {
						&__img {
							// width: 100%;
						}

						&__title {
							text-transform: uppercase;
							font-size: 19px;
							line-height: 22.8px;
							margin-top: 10px;
							letter-spacing: 0.74px;
							text-align: center;
							& span {
								font-size: 17px;
								line-height: 22.8px;
								letter-spacing: 0.6px;
								text-transform: lowercase;
							}
						}
					}
				}
			}
		}

		&__input-block {

			&_small {
				& .input-block {
					&__input {
						width: 40%;
						margin: 0 auto;
						display: block;
						font-size: 45.86px;
						line-height: 55.04px;
						letter-spacing: 1.79px;
					}
				}
			}

			&_big {
				& .input-block {
					&__input {
						font-size: 45.86px;
						line-height: 55.04px;
						letter-spacing: 1.79px;
					}
				}
			}
		}

		&__inputs_small {
			display: flex;
			justify-content: center;

			& .inputs_small {
				& .input-block {
					&__input-holder {
						width: 90%;
						display: block;
						margin: 0 auto;
						position: relative;
						font-size: 45.86px;
						line-height: 55.04px;
						letter-spacing: 1.79px;
					}
				}
			}
		}

		&__type-selectors-block .type-selectors-block {
			&__selectors {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				&.small-font {
					& .selectors__selector {
						& label {
							font-size: 24.5px;
							line-height: 29.4px;
						}
					}
				}
				& .selectors {
					
					&_small {
						& .selectors__selector {
							width: 30%;
						}
					}

					&__selector {
						margin: 0 5px;
						width: 100%;
						height: 100%;
						display: inline;

						&:last-child {
							margin-right: 0;
						}

						&:first-child {
							margin-left: 0;
						}

						& input[type=radio] {
							display: none;

							&:checked+label {
								border: 3px solid #ECB62B;
							}
						}

						& label {
							width: 100%;
							display: block;
							text-align: center;
							border: 3px solid #C5FCFC;
							box-sizing: border-box;
							text-transform: uppercase;
							padding: 15px 5px;
							font-size: 30px;
							line-height: 36px;
							font-family: Geometria Light;

							&.small-font {
								font-size: 18px;
							}
						}
					}
				}
			}
		}

		&__color-selectors-block {
			margin-top: 30px;
			margin-bottom: 30px;

			& .color-selectors-block {
				&__selectors {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(9, 1fr);
					grid-gap: 5px;

					& .selectors {
						&__selector {
							& .color-selector {
								& input {
									display: none;
								}

								& input+div {
									box-sizing: border-box;
									border: 1px solid #707070;
									margin-left: auto;
									margin-right: auto;
									padding-top: 50%;
									padding-bottom: 50%;
									position: relative;

									display: flex;
									align-items: center;
									justify-content: center;
									width: 100%;
									height: 100%;

									& img {
										display: none;
										width: 85%;
									}
								}

								& input:checked+div {
									padding: 0;
									padding: 5px;

									& img {
										display: block;
									}
								}
							}

							&:nth-child(n+10) .color-selector img {
								filter: invert(1);
							}
						}
					}
				}
			}
		}

		&__text-example {
			margin-top: 30px;
			margin-bottom: 30px;


			& .text-example {
				&__text {
					text-align: center;
					display: block;
					font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					font-size: 80px;
					-webkit-text-fill-color: #fff;
					-webkit-text-stroke: 3px #017660;
					text-shadow: 0 0 20px #ffff01;
				}
			}
		}

		&__order-block {
			margin-top: 30px;
			margin-bottom: 30px;

			display: flex;
			flex-direction: column;
			align-items: center;

			& .order-block {
				&__price {
					font-size: 45.86px;
					margin-bottom: 20px;
					line-height: 55.04px;

					& span {
						font-family: Geometria Medium;
						color: #dc2618;
					}
				}

				&__button {
					background: #DC2618;
					color: #fff;
					font-size: 48.71px;
					line-height: 58.45px;
					margin: 15px 0;
					letter-spacing: 1.46px;
					padding: 0px 5px 7px 5px;
				}

				&__description {
					text-align: center;
					text-transform: uppercase;
					font-size: 15px;
					letter-spacing: 0.58px;
					line-height: 18px;
					width: 600px;
					margin-top: 5px;
				}
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.customise-product {		
		.form__img-selectors-block .img-selectors-block {
			&__selectors {
				& .selectors__selector {
					width: 18%;					
				}
			}

		}
	}
}
@media screen and (max-width: 1300px) {
	.customise-product {		
		.form__img-selectors-block .img-selectors-block {
			&__selectors {
				& .selectors__selector {
					width: 23%;					
				}
			}

		}
	}
}
@media screen and (max-width: 1024px) {
	.customise-product {
		.form-container {
			width: 80%;
			margin: 0 auto;
		}
		.form__img-selectors-block .img-selectors-block {
			&__selectors {
				& .selectors__selector {
					width: 26%;
					& img {
						width: 163px!important;
						height: 149px;
					}
				}
			}

		}
	}
}

@media screen and (max-width: 768px) {
	h1.section-header {
		padding-bottom: 0px;
		padding-top: 0px;
	}
	h2.section-header {
		
	}
	h3.section-header {
		margin: 35px 0 15px 0;
	}
	.customise-product {
		padding-bottom: 50px;
		.form-container {
			width: 100%;
			margin: 0 auto;
		}

		&__form .form {
			&__img-selectors-block .img-selectors-block {
				&__selectors {
					& .selectors__selector {
						width: 44%;
						& input[type=radio] {
							&:checked~label .selector__title {
								text-decoration: none;
							}
						}
						& .selector__title {
							font-size: 14px;
							line-height: 17px;
							letter-spacing: 0.55px;

							& span {
								font-size: 12px;
								line-height: 16px;
								letter-spacing: 0.47px;								
							}
						}
					}
				}
	
			}

			&__input-block {
				&_small,
				&_big {
					& .input-block__input {
						width: 100% !important;
						font-family: Geometria;
						font-size: 21px;
						line-height: 31.4px;
					}

					& .input-block__input-holder {
						position: relative;
					}
				}
			}

			&__inputs_small {
				flex-direction: column;

				& .input-block__input-holder {
					width: 100% !important;

					&:after {
						top: 10px!important;
						right: 10px !important;
					}

					&:before {
						top: 10px!important;
						left: 10px !important;
					}

					& input {
						font-family: Geometria;
						font-size: 21px;
						line-height: 31.4px;
					}
				}
			}

			&__type-selectors-block .type-selectors-block {
				&__selectors {
					flex-direction: column;

					& .selectors {

						&__selector {
							margin: 5px 0;

							& label {
								font-family: Geometria;
								font-size: 21px;
								line-height: 31.4px;
							}
						}
					}

					&.selectors_small {

						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						flex-direction: row;

						& .selectors {
							&__selector {
								margin: 5px;
								width: 30%;

								& label {
									padding: 10px !important;
									font-family: Geometria;
									font-size: 21px;
									line-height: 31.4px;
								}

							}

						}
					}

				}
			}

			&__color-selectors-block .color-selectors-block {
				&__selectors {
					grid-template-columns: repeat(4, 1fr);

					& .selectors {
						&__selector {
							&:nth-child(17) {
								grid-column: 2/3;
							}
						}
					}
				}
			}

			&__text-example {

				& .section-header {
					font-family: Geometria Medium;
					font-size: 21px;
					line-height: 31.4px;
				}
			}

			&__order-block {
				& .section-header {
					font-family: Geometria Medium;
					font-size: 21px;
					line-height: 31.4px;
				}

				.order-block {
					&__button {
						width: 100%;
						font-size: 33px;
						line-height: 39px;
						padding: 10px 20px;
						vertical-align: middle;
					}

					&__description {
						width: 100%;
					}
				}
			}
		}
	}


}
