main .contacts {
	font-family: Geometria Light;

	padding-top: 70px;

	&__location {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-gap: 50px;

		& .location {
			&__map img {
				width: 100%;
			}

			&__info {
				display: flex;
				flex-direction: column;

				& hr {
					margin: 20px 0;
				}

				& .info {
					&__element {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 10px 0;
						padding-left: 10px;

						& img {
							width: 32px;
							display: block;
							text-align: center;
							margin-right: 15px;

							&.marker-icon {
								width: 25px;
							}
						}

						& .element {
							&__text {
								font-size: 29.29px;
								line-height: 35.15px;
								width: 100%;
								margin-left: 5px;
								letter-spacing: 0.85px;
							}
						}
					}
				}
			}
		}
	}
}

.contacts-text-block {
	margin: 30px auto;
	font-size: 28px;
	line-height: 33.56px;
	letter-spacing: 0.56px;

	ul {
		list-style-type: circle;
		list-style-position: inside;
		margin: 5px 0;
		font-size: 36px;

		& li {
			margin: 0 15px;
		}

		& span,
		& p {
			font-size: 28px;
		}
	}
}

.delivery-block {
	margin: 30px auto;

	& table.table {

		& tr td:first-child,
		& tr th:first-child {
			text-align: left;
			width: auto;
		}

		& tr th {
			font-size: 39.83px;
			letter-spacing: 1.16px;
			line-height: 47.8px;

			&:not(:first-child) {
				letter-spacing: 0.4px;
			}
		}

		& tr td {
			font-size: 26.92px;
			letter-spacing: 0.78px;
			line-height: 32.3px;
		}
	}
}



@media screen and (max-width: 1600px) {
	main .contacts {
		&__location {
			& .location {
				&__info {
					& .info__element {

						& img {
							width: 26px;

							&.marker-icon {
								width: 22px;
							}
						}

						& .element {
							&__text {
								font-size: 22px;
								line-height: 24px;
							}
						}
					}
				}
			}
		}
	}

	.contacts-text-block {
		font-size: 22px !important;
		line-height: 26px;

		& ul {
			font-size: 28px;

			li {
				margin: 0;

				& span {
					margin-left: -10px;
				}
			}

			& p,
			& li span {
				font-size: 22px !important;
				line-height: 26px;
			}
		}
	}
}

@media screen and (max-width: 1366px) {
	main .contacts {
		&__location {
			& .location {
				&__map img {
					width: 100%;
				}

				&__info {
					& .info {
						&__element {
							margin: 10px 0;

							& img {
								width: 26px;

								&.marker-icon {
									width: 22px;
								}
							}

							& .element {
								&__text {
									font-size: 20px;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
		}
	}

	.contacts-text-block {
		font-size: 20px !important;
		line-height: 24px;

		& ul {
			font-size: 24px;
			& p,
			& li span {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	.delivery-block {
		& table.table {
			& tr th {
				font-size: 32px;
				line-height: 42px;
			}
	
			& tr td {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	main .contacts {
		&__location {
			& .location {
				&__info {

					& .info {
						&__element {
							margin: 5px 0;

							& img {
								width: 22px;

								&.marker-icon {
									width: 16px;
								}
							}

							& .element {
								&__text {
									font-size: 18px;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
		}
	}

	.contacts-text-block {
		font-size: 18px !important;
		line-height: 24px;

		& ul {
			font-size: 24px;
			& p,
			& li span {
				font-size: 18px !important;
				line-height: 24px;
			}
		}
	}

	.delivery-block {
		& table.table {
			& tr th {
				font-size: 26px;
				line-height: 36px;
			}
	
			& tr td {
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	main .contacts {
		padding-top: 0;

		&__location {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;

			& .location {
				&__info {

					& .info {
						&__element {
							padding-left: 0;

							& img {
								width: 26px;

								&.marker-icon {
									width: 20px;
								}
							}

							& .element {
								&__text {
									font-size: 19px;
									line-height: 27px;
								}
							}
						}
					}
				}
			}
		}
	}

	.contacts-text-block {
		font-size: 19px !important;
		line-height: 24.6px;

		& ul {
			font-size: 24px;

			li {
				margin: 0;

				& span {
					margin-left: -10px;
				}
			}

			& p,
			& li span {

				font-size: 19px !important;
				line-height: 24.6px;
			}
		}
	}

	.delivery-block {
		& table.table {
			& tr td:first-child,
			& tr th:first-child {
				text-align: left;
				width: auto;
			}

			& tr th {
				font-size: 17px;
				letter-spacing: 0px;
				line-height: 13px;
				font-family: Geometria Medium;
				text-transform: uppercase;
				padding: 20px ;

				&:not(:first-child) {
					font-size: 18px;
					letter-spacing: 0.18px;
					line-height: 13px;
				}
			}

			& tr td {
				font-size: 18px;
				letter-spacing: 0.52px;
				line-height: 20px;
				padding: 10px 13px;
				& span {
					white-space: nowrap;
				}
			}
		}
	}


}
