.contacts {
	font-family: Geometria Light;

	&__location {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-gap: 40px;

		& .location {
			
			&__info {
				display: flex;
				flex-direction: column;

				& hr {
					margin: 20px 0;
				}
				& .info {
					&__element {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 15px 0;
						& img {
							width: 32px;
							display: block;
							text-align: center;
							margin-right: 15px;
							&.marker-icon {
								width: 25px;
							}
						}

						& .element {
							&__text {
								font-size: 26px;
								line-height: 28px;
								width: 100%;
								margin-left: 5px;
								letter-spacing: 0.85px;;
							}
						}
					}
				}
			}
		}
	}
}

.text-block {
	margin: 30px 0;

}

.delivery-block {
	margin: 30px 0;
	& table.table tr td:first-child, & table.table tr th:first-child {
		text-align: left;
		width: auto;
	}
}



@media screen and (max-width: 1600px) {
	.contacts {
		&__location {
			& .location {
				&__info {				
					& .info {
						&__element {
							margin: 10px 0;
							& img {
								width: 26px;
								&.marker-icon {
									width: 22px;
								}
							}
	
							& .element {
								&__text {
									font-size: 22px;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1366px) {
	.contacts {
		&__location {
			& .location {
				&__map img {
					width: 100%;
				}
	
				&__info {				
					& .info {
						&__element {
							margin: 10px 0;
							& img {
								width: 26px;
								&.marker-icon {
									width: 22px;
								}
							}
	
							& .element {
								&__text {
									font-size: 20px;
									line-height: 22px;
								}
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.contacts {
		&__location {
			& .location {
				&__info {				
					
					& .info {
						&__element {
							margin: 5px 0;
							& img {
								width: 22px;
								&.marker-icon {
									width: 16px;
								}
							}
	
							& .element {
								&__text {
									font-size: 18px;
									line-height: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.contacts {
		&__location {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
			& .location {
				&__info {				
					
					& .info {
						&__element {
							margin: 10px 0;
							& img {
								width: 26px;
								&.marker-icon {
									width: 20px;
								}
							}
	
							& .element {
								&__text {
									font-size: 16px;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
}
