@import './table';

body {
	font-family: 'Geometria';
	overflow-x: hidden;
	box-sizing: border-box;
	font-weight: 400;
}

.fa {
	font-size: 22px !important;
	transition: .3s;
}

.section-header {
	text-align: center;
	margin: 30px 0 20px 0;
	text-transform: uppercase;
	font-weight: 400;
}

h1.section-header {
	font-size: 22px;

}

h2.section-header {
	font-size: 20px;

}

h3.section-header {
	font-size: 18px;
}


h1.section-header-underline {
	font-size: 24px;
	margin: 30px auto 20px auto;
	padding: 0 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #707070;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 65%;
	margin: 0 auto;
}

.site-location {
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 12px;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	text-transform: lowercase;
	font-size: 14px;
	box-sizing: border-box;
}

.order-btn {
	background: #ffb700;
	font-size: 18px;
	& img {
		margin-left: 5px;
		width: 20px;
	}
}


.calc-btn {
	color: #fff;
	background: #42D1CF;
	margin-right: 20px;
	font-size: 18px;

	& img {
		margin-right: 5px;
		width: 32px;
	}
}

.details-btn {
	margin-right: 20px;
	color: #000;
	background: #42d1cf;

	& img {
		margin-left: 5px;
	}
}

.show-more-btn {
	background: #ffb700;
	display: none;
	margin: 10px 0;
	font-size: 16px;
	& img {
		margin-left: 5px;
	}
}

button:hover {
	cursor: pointer;
	opacity: .9;
	transition: .2s;
}

.input-block input {
	width: 100%;
	border: 3px solid #C5FCFC;
	font-size: 22px;
	padding: 7px;
	font: inherit;
	font-weight: 400;
	text-align: center;
	box-sizing: border-box;
}

.text-block {
	line-height: 20px;
	& ul {
		list-style-type: circle;
		list-style-position: inside;
	}
}

.color-FFFFFF {
	background: #FFFFFF;
}

.color-FDDF01 {
	background: #FDDF01;
}

.color-FAB210 {
	background: #FAB210;
}

.color-F74902 {
	background: #F74902;
}

.color-EB0B36 {
	background: #EB0B36;
}

.color-F20500 {
	background: #F20500;
}

.color-C40401 {
	background: #C40401;
}

.color-810307 {
	background: #810307;
}

.color-FCA4A2 {
	background: #FCA4A2;
}

.color-5F0263 {
	background: #5F0263;
}

.color-68A2D0 {
	background: #68A2D0;
}

.color-0697FE {
	background: #0697FE;
}

.color-0457DB {
	background: #0457DB;
}

.color-034798 {
	background: #034798;
}

.color-000273 {
	background: #000273;
}

.color-06B452 {
	background: #06B452;
}

.color-044F28 {
	background: #044F28;
}

.color-222424 {
	background: #222424;
}



@media screen and (max-width: 1366px) {
	.container {
		width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.site-location {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
	}

	.btn {
		display: flex;
		align-self: center;
		justify-content: center;
		width: 100%;
	}
}
