.image-example {
	position: relative;

	& img {
		width: 100%;
	}

	& .marker {
		&__block {
			position: absolute;

			.block {
				&__marker {
					&:hover~.block__text {
						opacity: 1;
						z-index: 2;
					}
				}

				&__text {
					transition: .5s;
					z-index: -2;
					opacity: 0;
					padding: 5px 8px;
					background: #fff;
					font-size: 22px;
					position: absolute;
					white-space: nowrap;
					top: -30%;
					font-family: Geometria Light;

					&_right {
						left: 60%;

						&::after {
							content: "\25B6";
							transform: rotate(-225deg);
							color: #fff;
							position: absolute;
							left: -10px;
							bottom: -12px;
							font-size: 26px;
						}
					}

					&_left {
						right: 60%;

						&::before {
							content: "\25B6";
							transform: rotate(45deg);
							color: #fff;
							position: absolute;
							right: -12px;
							bottom: -12px;
							font-size: 30px;

						}
					}
				}
			}
		}
	}

	&_street {
		& .marker {
			&__block {
				&.block {
					&-1 {
						top: 52%;
						left: 5.5%;
					}

					&-2 {
						top: 26%;
						left: 24%;
					}

					&-3 {
						top: 33%;
						left: 28.5%;
					}

					&-4 {
						top: 19%;
						left: 37%;
					}

					&-5 {
						top: 46%;
						left: 36%;
					}

					&-6 {
						top: 20%;
						left: 47%;
					}

					&-7 {
						top: 39.5%;
						left: 51%;
					}

					&-8 {
						top: 3%;
						left: 67%;
					}

					&-9 {
						top: 18%;
						left: 72%;
					}

					&-10 {
						top: 25%;
						left: 74%;
					}

					&-11 {
						top: 36%;
						left: 73%;
					}

					&-12 {
						top: 15%;
						left: 83%;
					}

					&-13 {
						top: 30%;
						left: 90%;
					}

					&-13 {
						top: 30%;
						left: 90%;
					}

					&-14 {
						top: 17%;
						left: 15%;
					}

					&-15 {
						top: 40%;
						left: 95%;
					}
				}
			}
		}
	}

	&_office {
		& .marker {
			&__block {
				&.block {
					&-1 {
						top: 17%;
						left: 5%;
					}

					&-2 {
						top: 4%;
						left: 26%;
					}

					&-3 {
						top: 23%;
						left: 36%;
					}

					&-4 {
						top: 45%;
						left: 40%;
					}

					&-5 {
						top: 22%;
						left: 61%;
					}

					&-6 {
						top: 10%;
						left: 75%;
					}

					&-7 {
						top: 25%;
						left: 90%;
					}

				}
			}
		}
	}
}

.product-list-block {
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 30px;

	&__header {
		font-size: 24px;
		text-align: center;
		margin: 20px 0 30px 0;
	}


	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	&__list .list {
		&__element {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 20%;

			.element {
				&__text {
					display: flex;
					flex-direction: column;
					text-align: center;
					margin: 20px auto;
					font-size: 20px;
					font-family: Geometria Light;
				}
			}
		}
	}

}

.advantages-block {
	font-family: Geometria Medium;

	&__header {
		display: flex;
		align-items: center;
	}

	&__list {
		padding: 30px 15%;
		background: url('../img/advantages-bg.png') no-repeat 100%;
		background-size: cover;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;

		justify-content: space-between;
		align-items: center;


		& .list {
			&__element {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				height: 100%;

				.element {
					&__img {
						width: 89.5px;
					}

					&__text {
						color: #fff;
						text-transform: uppercase;
						font-size: 20px;
						line-height: 24px;
						margin-top: 10px;
						word-wrap: break-word;
						text-align: center;
					}
				}
			}


		}
	}
}

.theme-services-block {
	text-transform: uppercase;

	&__header {
		display: flex;
		align-items: center;
	}

	&__list {
		justify-content: center;
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		& .list {
			&__element {
				width: 300px;
				margin: 10px;
				min-height: 15px;
				
			}

			&__element .element {
				&__img {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					background: #000;
					padding: 15px;

					& p {
						color: #fff;
						margin: 0 auto;
						text-align: center;
						font-size: 16px;
						line-height: 20px;
						font-family: Geometria Medium;
						
					}

					& img {
						display: block;
						padding-bottom: 10px;
					}
				}


				&__info {
					background: #E0E1E2;

					& .info {
						&__element {
							padding: 10px;
							background: #E0E1E2;
							border-top: 1px solid #000;
							font-size: 16px;
							font-family: Geometria Light;
							&:hover {
								font-family: Geometria Medium;
							}
							&::before {
								content: "\25CF";
								padding-right: 7px;
								color: #FFB100;
							}
							&.empty {
								&::before {
									content: "";
								}
							}
						}
					}
				}

			}
		}
	}
}

.work-examples-block {
	&__header {
		display: flex;
		align-items: center;
	}

	&__img-list {
		display: grid;
		// grid-gap: 4px;
		box-sizing: border-box;
		justify-content: center;

		& .list {
			&__element {
				& img {
					width: 100%;
					height: 100%;
				}
			}

			&__element-1 {
				grid-column: 1 / 39;
				grid-row: 1 / 3;
			}

			&__element-2 {
				grid-column: 40 / 98;
			}

			&__element-3 {
				grid-column: 40 / 98;
				grid-row: 2 / 2;
			}

			&__element-4 {
				grid-column: 99 / 139;
				grid-row: 1 / 1;
			}

			&__element-5 {
				grid-column: 99 / 129;
				grid-row: 2 / 2;
			}

			&__element-6 {
				grid-column: 140 / 192;
				grid-row: 1 / 1;
			}

			&__element-7 {
				grid-column: 130 / 192;
				grid-row: 2 / 2;
			}
		}
	}
}

.order-of-actions-block {
	font-family: Geometria Light;
	margin-top: 20px;
	margin-bottom: 20px;

	&__header {
		display: flex;
		align-items: center;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 20px;

		& .list {
			&__holder {
				display: flex;
				justify-content: center;
				align-items: flex-start;

				& .arrow {
					margin: 0 30px;
					margin-top: 30%;
					color: #D1D3D4;
				}
			}

			&__element {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-transform: lowercase;

				& .element {
					&__header {
						margin: 12px 0 7px 0;
						font-size: 17px;
						text-align: center;
					}

					&__text {
						font-size: 15px;
						text-align: center;
						margin: 10px 0;
					}
				}

				& img {
					width: 150px;
				}
			}
		}
	}
}

.make-order-block {
	background: #FFB100;

	&__header {
		padding-top: 15px;
	}

	&__form {
		padding: 5px 0;

		& .form {
			&__inputs {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 7px 50px;
				margin: 5px 0;

				& input {
					font-family: Geometria Light;
					font-size: 21px;
					padding: 15px 10px 10px 15px;
					border: none;
					line-height: 26px;
					font-family: inherit;
					box-sizing: border-box;
				}
			}

			&__textarea {
				font-family: Geometria Light;
				width: 100%;
				border: none;
				resize: none;
				box-sizing: border-box;

				font-size: 18px;
				font-weight: 300;
				padding: 14px;
				margin: 0;
				margin-top: 7px;
				min-height: 120px;
				font-family: inherit;
				font-weight: 400;
			}

			&__btn {
				display: block;
				margin: 5px auto;
				background: #000;
				color: #fff;
				padding: 12px 50px;
				text-transform: lowercase;
				font-size: 20px;
				font-family: Geometria Light;

			}
		}

	}
}

@media screen and (max-width: 1600px) {
	.image-example {
		& .marker {
			&__block {
				.block {
					&__marker {
						width: 80%;
					}
				}
			}
		}
	}

	.theme-services-block {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
	}
	.order-of-actions-block {
		&__list {
			& .list {				
				&__element {				
	
					& img {
						width: 100px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.image-example {
		& .marker {
			&__block {
				.block {
					&__marker {
						width: 60%;
					}
				}
			}
		}
	}

	.product-list-block {
		&__list .list {
			&__element {
				width: 30%;
				margin: 10px;
			}
		}
	}


	.advantages-block,
	.theme-services-block {
		&__list {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
	}

	.advantages-block {
		&__list {
			padding: 30px 5%;
		}
	}

	.order-of-actions-block {
		&__list {
			grid-template-columns: 1fr 1fr;

			& .arrow {
				margin-right: 0 !important;
				margin-left: 0 !important;
			}

			& .list {
				&__holder {
					justify-content: space-around;

					&:last-child {
						grid-column: 1/3;
					}

					& .element {
						&__text {
							display: none;
						}

						&__header {
							text-transform: uppercase;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

}

@media screen and (max-width: 768px) {
	.product-list-block {
		&__list {
			justify-content: space-around;

			& .list {
				&__element {
					min-width: 130px;

					&:nth-child(n+9) {
						display: none;
					}

					& .element__img {
						width: 135px;
					}

					& .element__text {
						font-size: 16px;

					}
				}
			}
		}
	}

	.make-order-block {
		&__form {
			padding: 5px 0;

			& .form {
				&__inputs {
					grid-template-columns: 1fr;

					& input {
						width: 100%;
						font-size: 16px;
					}
				}

				&__textarea {
					font-size: 16px;
				}

				&__btn {
					width: 100%;
				}
			}
		}
	}

	.image-example {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.theme-services-block {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}