body {
	font-family: 'Roboto'; 
	font-weight: 300;
}

.fa {
	font-size: 22px!important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500&display=swap');
@import "_index.scss";
@import "_calculators.scss";

