.popup {
	font-family: Geometria Light;
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 30vh;
	width: 55vw;
	z-index: 1;
	background: #fff;
	padding: 20px 20px 30px 20px ;

	&__header {
		margin-top: 0 !important;
	}

	&__form {
		& .form {
			&__inputs {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 10px;

				& input {
					width: 100%;
					font-family: Geometria Light;

					border: 1px solid #000;
					border-radius: 10px;
					padding: 13px 5px;
					text-align: center;
					box-sizing: border-box;
					font-size: 22px;
					line-height: 26.4px;

					&::-webkit-input-placeholder {
						text-transform: uppercase;
						font-size: 21.3px;
						line-height: 25.56px;
						text-align: center;
						vertical-align: middle;
					}

					&::-moz-placeholder {
						text-transform: uppercase;
						font-size: 21.3px;
						text-align: center;
						line-height: 25.56px;
						vertical-align: middle;
					}

					&:-moz-placeholder {
						text-transform: uppercase;
						font-size: 21.3px;
						line-height: 25.56px;
						text-align: center;
						vertical-align: middle;
					}

					&:-ms-input-placeholder {
						text-transform: uppercase;
						font-size: 21.3px;
						line-height: 25.56px;
						text-align: center;
						vertical-align: middle;
					}

				}
			}

			&__textarea {
				&::placeholder {
					text-align: center;
					font-size: 21.3px;
					line-height: 25.56px;
					vertical-align: middle;
					text-transform: uppercase;
					padding-top: 15px;
				}

				&::-webkit-placeholder {
					text-transform: uppercase;
					font-size: 21.3px;
					line-height: 25.56px;
					text-align: center;
					padding-top: 15px;
				}

				&::-moz-placeholder {
					text-transform: uppercase;
					font-size: 21.3px;
					line-height: 25.56px;
					text-align: center;
					padding-top: 15px;
				}

				&:-moz-placeholder {
					text-transform: uppercase;
					font-size: 21.3px;
					line-height: 25.56px;
					text-align: center;
					padding-top: 15px;
				}

				&:-ms-input-placeholder {
					text-transform: uppercase;
					font-size: 21.3px;
					line-height: 25.56px;
					text-align: center;
					padding-top: 15px;
				}

				box-sizing: border-box;
				margin-top: 15px;
				border: 1px solid #000;
				border-radius: 10px;
				padding: 10px 5px;
				resize: none;
				width: 100%;
				min-height: 105px;
				font-family: inherit;
				font-family: Geometria Light;
				font-size: 17px;
				line-height: 20.4px;
			}

			&__buttons {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				& .order-btn {
					font-size: 29px;
					line-height: 34px;
					letter-spacing: 1.28px;
					padding: 2px 10px;
				}

				& .buttons {
					&__attach {
						&-wrapper {
							padding: 15px 0 0 0 !important;
							width: 100%;

							& input[type=file] {
								display: none;
							}
						}

						&-btn {
							background: #82D2D0;
							padding: 5px 5px;
							display: block;
							text-transform: uppercase;
							font-size: 15.82px;
							line-height: 18.98px;
							text-align: center;
						}
					}

					&__file-checkbox {
						margin: 20px 0;
						text-transform: uppercase;
						font-size: 16px;
						line-height: 19.2px;
						display: flex;
						justify-content: center;
						align-items: center;

						& input {
							display: none;

							&:checked {
								&+.chbx {
									background: #000;
								}
							}
						}

						& .chbx {
							display: flex;
							justify-content: center;
							align-items: center;
							border: 1px solid #000;
							width: 17px;
							height: 17px;
							margin-right: 5px;

						}
					}
				}

				& .order-btn {
					padding: 10px;
				}
			}
		}
	}

	&__close {
		position: absolute;
		top: -12px;
		right: -12px;
	}

}

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .3);
	opacity: 1;
	z-index: 0;
}

@media screen and (max-width: 1280px) {
	.popup {
		&__form .form {
			&__inputs {
				grid-template-columns: 1fr;

				& input {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.popup {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		width: 95vw;
		height: 95vh;
		margin: 20px auto;
		z-index: 1;
		background: #fff;
		padding: 20px 10px;


		& h1 {
			text-align: left;
		}

		&__close {
			top: 12px;
			right: 12px;
		}

		&__form .form {
			&__inputs {
				& input {
					width: 100%;
					font-family: Geometria Light;

					padding: 10px 5px;
					font-size: 20px;
					line-height: 30px;

					&::-webkit-input-placeholder {
						font-size: 20px;
						line-height: 30px;
					}

					&::-moz-placeholder {
						font-size: 20px;
						line-height: 30px;
					}

					&:-moz-placeholder {
						font-size: 20px;
						line-height: 30px;
					}

					&:-ms-input-placeholder {
						font-size: 20px;
						line-height: 30px;
					}

				}
			}
			&__textarea {
				height: 15vh;
				font-size: 20px;
				line-height: 30px;
				&::placeholder {
					padding-top: 4vh;
				}

				&::-webkit-placeholder {
					padding-top: 4vh;
				}

				&::-moz-placeholder {
					padding-top: 4vh;
				}

				&:-moz-placeholder {
					padding-top: 4vh;
				}

				&:-ms-input-placeholder {
					padding-top: 4vh;
				}
			}

			&__buttons {
				width: 100%;

				&>div,
				&>button {
					margin: 15px 0;
				}
				
				& .order-btn {
					font-size: 22px !important;
					line-height: 26px;
					letter-spacing: 0.66px;
				}

				& .buttons__file-checkbox {
					font-size: 13px;
					line-height: 19.2px;
					margin: 10px 0;
				}

				& .buttons__attach-btn {
						letter-spacing: -0.66px!important;
						font-size: 16px!important;
						line-height: 19px!important;
						padding: 10px;
					}
			}
		}
	}
}