.product {
	font-family: Geometria Light;
	margin: 30px auto;

	&__content {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
		grid-gap: 80px;

		& .content {
			&__holder {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 95%; 
			}

			&__img {
				position: relative;
				width: 95%; 
				margin: 0 auto;

				& img {
					margin: 0 5px;
				}
				
				.slider-prev {
					top: 45%;			
				}
				.slider-next {
					top: 45%;
				}
			}

			&__description {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				& .description {
					&__text {
						font-size: 28.04px;
						line-height: 33.65px;
						ul {
							list-style-type: circle;
							list-style-position: inside;

							& li span {
								margin-left: -10px;
							}
						}
					}

					&.small-font {
						& .description__text {
							font-size: 24.6px;
							line-height: 29px;
						}
					}

					&__buttons {
						display: flex;
						flex-direction: row;
						margin-top: 20px;

						& .btn {
							height: 100%;
							padding: 7px 20px;
							height: 67px;
							&.calc-btn {
								font-size: 33.71px;
								line-height: 40.45px;
								margin-right: 40px;
							}

							&.order-btn {
								font-size: 33.68px;
								line-height: 40.42px;
							}

							& img {
								width: 50px;
								margin: 0 5px;
							}
						}
					}
				}
			}
		}
	}
}

.product-example-block-big {
	font-family: Geometria Light;

	&__content {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 60px;

		& .content {
			&__view {
				display: flex;
				flex-direction: column;
				align-items: center;

				& .view {
					&__buttons {
						margin-top: 40px;
						display: grid;
						grid-gap: 40px;
						grid-template-columns: 1fr 1fr;

						& .btn {
							padding: 5px 10px;
							font-size: 20.26px;
							line-height: 24.31px;
						}
					}
				}
			}

			&__info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				& .info {
					&__characteristics {
						font-size: 23.61px;
						line-height: 28.33px;
						color: #1D1C1B;

						ul {
							list-style-type: circle;
							list-style-position: inside;

							& li span {
								margin-left: -10px;
							}
						}
					}


				}

				& .table-block {
					& .table {
						& tr th {
							padding: 4px 20px;
							text-align: center;
							font-size: 25px;
							line-height: 30px;
							letter-spacing: 0.72px;
							width: 100%;
						}

						& tr td {
							padding: 9px 20px;
							text-align: left;
							font-size: 16.89px;
							line-height: 20.27px;
							letter-spacing: 0.49px;

							&:not(:first-child) {
								text-align: center;
							}
						}
					}
				}

				& .table-block.table-block_big {
					& tr th {
						padding: 7px 10px;
						text-align: center;
						font-size: 19px;
						line-height: 22.8px;
						letter-spacing: 0.55px;
					}

					& tr td {
						padding: 8px 10px;
						font-size: 16.89px;
						line-height: 20.27px;
						letter-spacing: 0.51px;
						text-align: center;
					}
				}
			}
		}
	}
}

.also-interesting-block {
	font-family: Geometria Light;
	margin: 30px auto;

	&__links {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px 20px;

		& a {
			text-align: left;
			color: #0082FB;
			line-height: 30px;
			font-size: 25px;
			font-family: ArialMT;
			letter-spacing: 0.72px;
		}
	}
}

.works-example-block {
	font-family: Geometria Light;
	display: flex;
	flex-direction: column;


	& .list-holder {
		width: 100%; 
		margin: 0 auto;
		position: relative;
		display: flex;
		align-items: center;
	}

	&__list {
		margin: 0 auto;
		width: 95%;

		& img {
			width: 100%;
			margin: 0 5px;
		}
	}

	& .show-more-btn {
		margin: 25px auto;
		display: flex !important;
		flex-direction: row;
		align-items: center;
	}
}

.popular-orders-block {
	font-family: Geometria Light;
	margin: 30px auto 50px auto;

	&.section-header {
		font-size: 30.89px;
		line-height: 37.07px;
		letter-spacing: 1.2px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 60px;
		margin: 0 auto;

		& .list {
			&__element {
				& .element {
					&__img img {
						width: 100%;
					}

					&__title {
						margin: 10px 0 3px 0;
						font-size: 15.11px;
						line-height: 18.14px;
						font-family: Geometria Bold;
					}

					&__text {
						font-size: 15.11px;
						line-height: 18.14px;
						font-family: Geometria Light;
					}

					&__price {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						font-family: Geometria Bold;
						margin-top: 10px;
						font-size: 15.11px;
						line-height: 18.14px;

						& button {
							font-size: 14.79px !important;
							line-height: 17.75px;
							padding: 5px 10px;
							font-family: Geometria Light;

						}
					}
				}
			}
		}
	}
}

.product-example-block-small {
	font-family: Geometria Light;
	margin: 30px auto;

	&>.details-btn {
		margin: 20px auto;
		padding: 10px;
		background: #ffb700;
	}

	&>.show-more-btn {
		display: block;
		margin: 40px auto 55px auto;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
		grid-gap: 50px;

		& .list {
			&__element {
				display: flex;
				flex-direction: column;
				background: #E0E3E3;

				& .element {
					&__img {
						width: 100%;
					}

					&__title {
						margin: 10px 15px 20px 15px;
						text-align: left;
						text-transform: uppercase;
						font-size: 19.82px;
						line-height: 23.79px;
						letter-spacing: 0.69px;
						font-family: Geometria Medium;
					}

					&__text {
						margin: 0 15px;
						font-size: 15px;
						line-height: 18px;
					}

					&__actions {
						margin: 10px 15px;
						display: flex;
						align-items: center;
						justify-content: space-around;
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 30px;

						& .btn {
							padding: 10px 15px;
							width: 100%;
							font-size: 22.28px;
							line-height: 26.74px;
							letter-spacing: 0.67px;
							padding: 10px 5px;
						}
					}

				}
			}
		}

		&.grid-5 {
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
			grid-gap: 10px;

			.list {
				&__element {
					font-size: 12px;
					margin: 5px;
					width: auto;

					& .element {
						&__title {
							font-size: 12.27px;
							line-height: 14.73px;
							margin: 10px 7px;
						}

						&__actions {
							justify-content: space-around;
							margin-left: 7px;
							margin-right: 7px;

							& .btn {
								font-size: 13.8px;
								line-height: 16.56px;
								padding: 5px 7px;

								& img {
									width: 6.1px;
									margin-left: 5px;
								}
							}
						}
					}
				}
			}
		}

	}
}

.product-pricing-block {
	margin-bottom: 40px;

	.table {
		& tr th {
			font-size: 30px;
			line-height: 36px;
		}

		& tr td {
			font-size: 26px;
			line-height: 31.2px;
			width: 60%;

			&:not(:first-child) {
				width: auto;

				font-size: 24px;
				line-height: 28.8px;
			}
		}
	}
}

.product-text-block {
	font-size: 28.04px;
	line-height: 33.65px;

	& .section-header {
		text-align: left;
		letter-spacing: 1.17px;
	}
}



@media screen and (max-width: 1600px) {

	.product-example-block-small {
		&__list {
			& .list {
				&__element {
					margin: 0 !important;
				}
			}

			&.grid-5 {
				grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
			}
		}
	}

	.popular-orders-block {
		&__list {
			grid-gap: 30px;
		}
	}
}

@media screen and (max-width: 1366px) {
	.product {
		&__content {
			grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);

			.content {
				&__img img {
					width: 100%;
				}

				&__description {
					& .description {
						&__text {
							font-size: 22px;
							line-height: 26.6px;
						}

						&__buttons {
							flex-direction: column;

							& .btn {
								margin: 0;
								padding: 5px 10px;
								height: 47px;

								& img {
									width: 35px;
								}

								&.order-btn {
									font-size: 22px;
									line-height: 26px;
								}

								&.calc-btn {
									margin: 0 0 20px 0;
									font-size: 21px;
									line-height: 25px;
								}
							}
						}
					}
				}
			}
		}
	}

	.product-example-block-small {
		&__list {
			grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
			grid-gap: 20px;

			& .list {
				&__element {
					& .element {
						&__title {
							font-size: 17px;
							line-height: 21px;
						}

						&__actions {
							margin: 10px 15px;
							display: flex;
							align-items: center;
							justify-content: space-around;
							display: grid;
							grid-template-columns: 1fr 1fr;
							grid-gap: 10px;

							& .btn {
								padding: 8px 12px;
								font-size: 17px;
								line-height: 21px;
							}
						}
					}
				}
			}
		}
	}

	.product-text-block {
		font-size: 22px;
		line-height: 26.6px;
	}
}

@media screen and (max-width: 1200px) {
	.product-example-block-big {
		&__content {
			display: block;

			& .content {
				&__view {
					& .view {
						&__buttons {
							width: 100%;

							& .btn {
								width: 100%;

							}
						}
					}
				}

				&__info {
					margin: 20px 0;
				}
			}
		}
	}

	.product-example-block-small {
		&__list {
			& .list {
				&__element {
					margin: 0 !important;
				}
			}

			&.grid-5 {
				grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

			}
		}
	}

	.popular-orders-block {
		&__list {
			grid-gap: 20px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.product {
		&__content {
			grid-template-columns: minmax(0, 1fr);
			grid-gap: 40px;
			& .content {
				&__img img {
					width: 70%;
				}
			}
		}
	}

	.works-example-block {
		& .fa-angle-right {
			display: none;
		}
	}

	.popular-orders-block {
		&__list {
			grid-template-columns: 1fr 1fr;

			& .list {
				&__element {
					&:nth-child(n+5) {
						display: none;
					}

					& .element {
						&__title {
							margin-bottom: 10px;
						}

						&__price {
							flex-direction: column;
							align-items: flex-start;

							& p {
								margin: 10px 0;
							}

							& .order-btn {
								width: 100%;
								padding: 10px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	.product-example-block-small {
		&__list {
			& .list {
				grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));

			}

			&.grid-5 {
				grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));

			}
		}

	}

	.also-interesting-block {
		&__links {
			& a {
				line-height: 25px;
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.product {
		padding-bottom: 30px;

		&__content .content {
			&__img {
				width: 80%; 
				img {
					width: 80%;
				}
			}

			&__description {
				& .description {
					&__text {
						font-size: 19px;
						letter-spacing: 0.55px;
						line-height: 24.6px;
					}

					&__buttons {

						& .btn {
							margin: 0;
							padding: 5px 10px;
							font-size: 22px;
							line-height: 26px;
							& img {
								width: 35px;
							}
						}
					}
				}
			}
		}
	}

	.works-example-block {
		& .fa-angle-right {
			display: none;
		}
		
		& .list-holder {
			width: 100%;
		}
	}

	.also-interesting-block {
		&__links {
			grid-template-columns: 1fr 1fr;

			& a {
				text-align: left;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.46px;
			}
		}
	}

	.product-example-block-small {
		&__list {
			grid-template-columns: 1fr;
			grid-gap: 30px;


			&.grid-5 {
				grid-template-columns: 1fr;
			}


			& .list {
				&__element {
					display: flex;
					flex-direction: column;
					background: #E0E3E3;

					& .element {
						&__img {
							width: 100%;
						}

						&__title {
							margin: 10px;
							font-size: 16px;
							line-height: 19px;
							letter-spacing: 0.62px;
							margin: 15px 5px;
						}

						&__actions {
							grid-gap: 10px;
							margin: 0 5px 10px 5px;

							& .btn {
								padding: 10px 15px;
								font-size: 18px;
								line-height: 22px;
								letter-spacing: 0.54px;
							}
						}

					}
				}
			}
		}
	}


	.product-example-block-big {
		&__content {
			& .content {
				&__view {
					& .view {
						&__buttons {
							margin-top: 20px;
							grid-gap: 20px;

							& .btn {
								padding: 5px 10px;
								font-size: 18px;
								line-height: 22px;
							}
						}

						&__img {
							width: 100%;
						}
					}

				}

				&__info {
					& .info {
						&__characteristics {
							font-size: 19px;
							line-height: 24.6px;
							color: #000;
							letter-spacing: 0.55px;
						}
					}

					& .table-block {
						& .table {
							border-spacing: 5px 0;

							& tr th {
								font-family: Geometria Medium;
								padding: 17px 10px;
								font-size: 17px;
								line-height: 13px;
								text-transform: uppercase;
								width: auto;

								&:not(:first-child) {
									letter-spacing: 0.18px;
									font-size: 18px;
								}
							}

							& tr td {
								white-space: nowrap;
								padding: 5px 10px;
								text-align: left;
								font-size: 18px;
								line-height: 20px;
								letter-spacing: 0;

								&:not(:first-child) {
									text-align: center;
									letter-spacing: 0.46px;
									font-size: 16px;
									font-family: Geometria;
								}
							}
						}
					}
				}
			}
		}
	}

	.product-pricing-block {
		margin-bottom: 40px;

		.table {
			& tr th {
				font-size: 17px;
				line-height: 13px;
				text-transform: uppercase;
				font-family: Geometria Medium;
				text-align: left;

				&:not(:first-child) {
					text-align: right;
					width: auto;

				}
			}

			& tr td {
				font-size: 18px;
				line-height: 20px;

				&:not(:first-child) {
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0.46px;
					font-family: Geometria;
					text-align: right;
				}
			}
		}
	}

	.popular-orders-block {
		&__list {
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;

			& .list {
				&__element {
					& .element {
						&__title {
							margin: 5px 0;
							font-size: 12px;
							line-height: 12px;
						}

						&__text {
							font-size: 12px;
							line-height: 12px;
							font-family: Geometria Light;
						}

						&__price {
							font-size: 16px;
							line-height: 12px;

							& button {
								font-size: 18px !important;
								line-height: 22px;
								padding: 5px 7px !important;

							}
						}
					}
				}
			}
		}
	}

	.product-text-block {
		font-size: 19px;
		letter-spacing: 0.55px;
		line-height: 24.6px;

		& .section-header {
			text-align: center;
		}
	}
	.table-block.table-block_big {
		& tr th {
			padding: 9px 10px!important;
			text-align: center!important;
			font-size: 17px!important;
			line-height: 19px!important;
			letter-spacing: 0px!important;
		}

		& tr td {
			padding: 8px 10px!important;
			font-size: 18px!important;
			line-height: 22px!important;
			letter-spacing: 0.51px!important;
			text-align: center!important;
			font-family: Geometria Light!important;
			&:nth-child(n+2) {
				font-size: 19px!important;
				line-height: 23px!important;
			}
		}

		& tr:nth-child(2) td:first-child {
			font-size: 19px;
			line-height: 22.8px;
			letter-spacing: 0.55px;
		}
	}
}