@mixin highlight_font() {
	font-size: 26px;
	font-family: Geometria;
}

$icons-color: #E6AE2A;

.header {
	font-family: Geometria ExtraLight;
	background: #000;

	padding: 30px 5%;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 3fr;
	color: #fff;

	&__burger {
		display: none;
		z-index: 5;
	}

	&__element {
		&.logo {
			& img {
				width: 114.81px;
				height: 129.48px;
				display: block;
			}
		}

		

		&.location,
		&.contacts,
		&.search {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			font-size: 22px;

		}

		& .location {
			&__city {
				@include highlight_font();
			}
		}

		&.location img, &.contacts img {
			color: $icons-color;
			margin-right: 9px;
			font-size: 28px !important;
			height: 25px;

		}

		& .contacts {
			&__phone span {
				@include highlight_font();
			}
		}

		&.search {
			justify-content: flex-end;

			&>div {
				display: flex;
				width: 70%;
				justify-content: space-between;
				align-items: center;
				border-radius: 20px;
				background: #fff;
				padding: 2px 10px;
				font-size: 22px;

			}

			& .fa {
				color: #6D6C9F;
				transform: rotateY(180deg);
				font-size: 18px !important;
				margin-right: 3px;
				left: -5px;
			}
		}

		& .search {
			&__input {
				font-size: 20px;
				width: 100%;
				border: none;
				font-family: Geometria Light;

			}
		}
	}
}


@media screen and (max-width: 1336px) {
	.header {
		&__element {
			&.location,
			&.contacts,
			&.search {
				font-size: 20px!important;	
			}	
	
			&.location img, &.contacts img {
				margin-right: 9px;
				font-size: 28px !important;
				height: 25px;	
			}
	
			& .contacts {
				&__phone span {
					font-size: 23px;
				}
			}
	
			&.search {
				&>div {
					width: 70%;
					padding: 2px 10px;
					font-size: 22px;
	
				}
			}
	
			& .search {
				&__input {
					font-size: 20px;
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.header {
		grid-template-columns: 1fr 2fr 2fr;

		&__element {

			&.search {
				display: none;
			}

		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding: 10px 2.5%;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "logo element"
			"logo burger";

		&__element {
			grid-area: element;

			&.logo {
				grid-area: logo;
				display: flex;
				justify-content: flex-start;
			}		
		

			&.search,
			&.location {
				display: none;
			}

			&.contacts {
				display: flex;
				justify-content: flex-end;
				font-size: 18px !important;
				& .contacts {
					&__phone span {
						font-size: 20px !important;
					}
				}
			}
		}

		&__burger {
			grid-area: burger;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			& img {
				width: 50px;
				height: 30px;
			}
	
				&:hover {
					cursor: pointer;
				}
		}
	}
}


@media screen and (max-width: 320px) {
	.header {	
		&__element {
			&.contacts {
				display: flex;
				justify-content: flex-end;
				font-size: 14px !important;
				& .contacts {
					&__phone span {
						font-size: 16px !important;
					}
				}
			}
		}
	}
}