@mixin highlight_font() {
	font-weight: 500;
	font-size: 20px;
}

$icons-color: #E6AE2A;

.header {
	background: #000;

	padding: 30px 5%;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 3fr;
	color: #fff;
	font-weight: 100;

	&__burger {
		display: none;
	}
	&__element {
		&.logo img {
			width: 114.81px;
			height: 129.48px;
			display: block;
		}

		&.location,
		&.contacts,
		&.search {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		& .location {
			&__city {
				@include highlight_font();
			}
		}

		&.location i {
			color: $icons-color;
			margin-right: 10px;

		}

		& .contacts {
			&__phone span {
				@include highlight_font();
			}
		}

		&.contacts i {
			color: $icons-color;
			margin-right: 10px;
			transform: rotate(-45deg);
		}

		&.search {
			justify-content: flex-end;

			&>div {
				display: flex;
				width: 80%;
				justify-content: space-between;
				align-items: center;
				border-radius: 20px;
				background: #fff;
				padding: 1px 10px;
				height: 22px;
			}

			& .fa {
				color: #6D6C9F;
				transform: rotateY(180deg);
				font-size: 18px !important;
				margin-right: 3px;
				left: -5px;
			}
		}

		& .search {
			&__input {
				width: 100%;
				border: none;
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.header {
		grid-template-columns: 1fr 2fr 2fr;	
		&__element {
			
			&.search {
				display: none;				
			}
						
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "logo element"
							 "logo burger";
		&__element {
			grid-area: element;
			&.logo {
				grid-area: logo;
				display: flex;
				justify-content: flex-start;
			}
			&.search, &.location {
				display: none;				
			}
			&.contacts {
				display: flex;
				justify-content: flex-end;
			}			
		}
		&__burger {
			grid-area: burger;
			display: flex;
			justify-content: flex-end;
		}
	}
}